<section class="default-width">
    <mat-toolbar color="primary" class="mt-free-quote">
        <mat-toolbar-row class="mtr-free-quote">
            <span class="spn-contain-fq-banner">
                <h1>Hire Essay Writer</h1>
                <p>No matter what kind of academic paper you need, it is simple and secure to hire an essay writer from <strong>#1</strong> Cheapest Essay writing service in 2020</p>
            </span>
            <span class="fill-space"></span>
            <span>
                <app-common-banner-calculator [isHome]="false"></app-common-banner-calculator>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>
<section class="default-width sec-fq-reviews">
    <app-common-reviews></app-common-reviews>
</section>
<section class="default-width sec-fq-guarantees">
    <mat-toolbar>
        <mat-toolbar-row>
            <h2>Our Guarantees</h2>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <h5>100% Confidentiality</h5>
                        <p>Confidentiality and Privacy of customer's information is highly secured</p>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <h5>Lowest Price Guarantee</h5>
                        <p>Find a lower price within 1 month of ordering, we'll refund you 100% of the difference.</p>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <h5>Timely Delivery</h5>
                        <p>No missed deadlines – 98% of assignments are completed on time.</p>
                    </mat-list-item>
                </mat-list>
            </span>
            <span class="fill-space"></span>
            <span>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <h5>100% Original Writing</h5>
                        <p>Our writers never copy the content from the Internet. You can get a plagiarism report.</p>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <h5>100% Money Back</h5>
                        <p>If our writer has not followed your requirements, feel free to ask for a full refund.</p>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <h5>Unlimited revisions</h5>
                        <p>Ask your writer for a free preview to check pick writing style that suits you</p>
                    </mat-list-item>
                </mat-list>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>