.mt-free-quote {
    position: relative;
}
.sec-web-rating {
    padding-top: 200px
}
.mtr-free-quote > span:first-child {
    align-self: flex-start;
}
.spn-contain-fq-banner h1 {
    color: #000000;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 69px;
    margin: 51px auto 34px auto;
    font-family: "SF Pro Text Bold";
    white-space: normal;
}
.spn-contain-fq-banner p {
    font-family: "SF Pro Text Medium";
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: normal;
}
.spn-contain-fq-banner {
    width: 585px;
}

/* RESPONSIVE SECTION  */
/* Large devices (desktops, 992px and up) */
@media screen and (max-width:992px) { 
    .mtr-free-quote {
        display: block;
        text-align: center;
        text-align: -webkit-center
    }
    .sec-web-rating {
        padding-top: 0;
    }
}