<mat-toolbar class="mt-new-user-form">
    <mat-toolbar-row *ngIf="!has_image">
        <h3>FIRST TIME HERE?</h3>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <form (ngSubmit)="submitNewUser()" [formGroup]="frmNewUser" class="frm-new-user-discount" [ngClass]="(has_image)?'reverse-row':''">
            <app-common-progress-bar *ngIf="isUnlocking"></app-common-progress-bar>
            <span>
                <label *ngIf="!has_image">USE 15% DISCOUNT NOW</label>
                <div *ngIf="has_image" class="sprite-cheapest discount-img-wrap"></div>
            </span> 
            <span class="fill-space"></span>
            <span [ngClass]="(has_image)?'add-flex':''">
                <div class="new-user-inner-wrap">
                    <span class="padding-right20">
                        <input
                        name="discount-email" 
                        type="email" 
                        formControlName="email" 
                        placeholder="Enter Email">
                    </span>
                    <span class="fill-space"></span>
                    <span><button type="submit" mat-flat-button>SEND</button></span>
                </div>
                <div class="new-user-inner-wrap" *ngIf="has_image">
                    <p class="p-new-user-form padding-top20">You’ll get a high-quality service, that’s for sure. To welcome you, we give you a 15% discount on your first Order!</p>
                </div>
            </span>
        </form>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!has_image">
        <p class="p-new-user-form">You’ll get a high-quality service, that’s for sure. To welcome you, we give you a 15% discount on your first Order!</p>
    </mat-toolbar-row>
</mat-toolbar>