<div class="floating-links-wrap" 
(mouseover)="hoverSocialLinks()"
(mouseout)="hoverOutSocialLinks()"
[style.width]="ishovered?'245px':'20px'"
#floatingLinks>

<a rel="noopener" target="_blank" href="tel:+19094411414"><span class="sprites-social-icons sprite-tel"></span><span>+1 (909) 441-1414</span></a>
<a rel="noopener" target="_blank" href="mailto:support@cheapestessay.com"><span class="sprites-social-icons sprite-mail"></span><span>Support@CheapestEssay.com</span></a>
<a rel="noopener" target="_blank" href="tel:+19094411414"><span class="sprites-social-icons sprite-chat"></span><span>+1 (909) 441-1414</span></a>
<a rel="noopener" class="blue-link" target="_blank" href="https://www.messenger.com/t/CheapestEssay" target="_blank"><span class="sprites-social-icons sprite-fb-chat"></span><span>Click here to message us on Facebook</span></a>
<a rel="noopener" class="green-link" target="_blank" href="https://api.whatsapp.com/send?phone=19094411414"><span class="sprites-social-icons sprite-whatsaap-icon"></span><span>+1 (909) 441-1414</span></a>
<a rel="noopener" class="violet-link" target="_blank" href="https://www.instagram.com/cheapestessay/" target="_blank"><span class="sprites-social-icons sprite-instagram-logo2"></span><span>www.instagram.com/cheapestessay</span></a>

</div>