.sec-company-flex mat-toolbar-row {
    white-space: normal;
    text-align: center;
}
.sec-company-flex mat-toolbar-row span {
    display: flex;
    align-self: normal;
}
.sec-company-flex-bottom {
    margin-bottom: 70px;
}
.spn-company-flex {
    width: 100%;
    max-width: 520px;
    padding: 5px;
}
.company-flex-img1 {
    width: 110px;
    background-position: -2821px -1281px;
}
.company-flex-img2 {
    width: 87px;
    background-position: -3021px -1281px;
}
.company-flex-img3 {
    width: 110px;
    background-position: -3445px -1281px;
}
.company-flex-img4 {
    width: 103px;
    background-position: -3253px -1281px;
}
.company-flex-img {
    height: 116px;
    position: absolute;
    top: -58px;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background-color: #f2f2f2;
    zoom: 0.8
}
.company-flex-inner {
    width: 100%;
    border: 3px solid #12245A;
    border-radius: 4.5px;
    padding: 70px 30px 30px;
    position: relative;
}
.company-flex-inner h5 {
    color: #000000;
    font-family: "SF Pro Text Bold";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 25px;
}
.company-flex-inner p {
    font-family: "SF Pro Text Medium";
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px;
    max-width: 483px;
    width: 100%;
    margin: 0 auto;
}

/* RESPONSIVE SECTION  */
/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width:576px) {  
    .company-flex-inner[_ngcontent-fpj-c106] {
        max-width: 325.95px !important;
        width: 100% !important;
    }
    .company-flex-inner {
        padding: 50px 10px
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (max-width:768px) {  
    .sec-company-flex mat-toolbar-row:first-child {
        display: flex;
    }
    .sec-company-flex mat-toolbar-row span,
    .sec-company-flex mat-toolbar-row {
        display: block;
        text-align: -webkit-center
    }
    .sec-company-flex-bottom {
        margin-bottom: 0;
    }
    .company-flex-inner {
        width: 100%;
        margin-bottom: 30px;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media screen and (max-width:992px) { 

}