<section class="default-width sec-company-flex">
    <mat-toolbar>
        <mat-toolbar-row class="common-sub-header margin-bottom50">
            <h2>THIS IS WHY WE ARE THE BEST</h2>
        </mat-toolbar-row>
        <mat-toolbar-row class="sec-company-flex-bottom">
            <span class="spn-company-flex">
                <div class="company-flex-inner">
                    <div class="sprite-cheapest company-flex-img company-flex-img1"></div>
                    <h3>Customer Satisfaction</h3>
                    <p>Only pay after getting the perfect paper. No revision limits.</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span class="spn-company-flex">
                <div class="company-flex-inner">
                    <div class="sprite-cheapest company-flex-img company-flex-img2"></div>
                    <h3>Get Quick Results</h3>
                    <p>We have over 450 dedicated essay writers who will happily write your essay even with 3 hrs. deadline.</p>
                </div>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="spn-company-flex">
                <div class="company-flex-inner">
                    <div class="sprite-cheapest company-flex-img company-flex-img3"></div>
                    <h3>Papers are Double-checked</h3>
                    <p>We ensure to double-check all orders before they are submitted, which guarantees that you get only original papers.</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span class="spn-company-flex">
                <div class="company-flex-inner">
                    <div class="sprite-cheapest company-flex-img company-flex-img4"></div>
                    <h3>24/7 Customer Support</h3>
                    <p>We offer uninterrupted 24/7 service and support to our customers with a response time of less than a minute.</p>
                </div>
            </span>
        </mat-toolbar-row>
        <!-- <mat-toolbar-row>
            <button class="btn-hire-writer" type="button" routerLink="/order" mat-flat-button>
                {{_fxServices.getCTA(url,services) != null ? _fxServices.getCTA(url,services).cta[0].text : 'Hire an Essay Writer Now!'}}
            </button>
        </mat-toolbar-row> -->
    </mat-toolbar>
</section>