<section class="default-width sec-company-flex">
    <mat-toolbar>
        <mat-toolbar-row class="common-sub-header margin-bottom50">
            <h2>Features that Count</h2>
        </mat-toolbar-row>
        <mat-toolbar-row class="sec-company-flex-bottom">
            <span class="spn-company-flex">
                <div class="company-flex-inner">
                    <div class="sprite-cheapest company-flex-img company-flex-img1"></div>
                    <h3>High Quality</h3>
                    <p>No need to worry as all our writers are the best in their work. Thus, rest assured to get the premium content.</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span class="spn-company-flex">
                <div class="company-flex-inner">
                    <div class="sprite-cheapest company-flex-img company-flex-img2"></div>
                    <h3>Reasonable Prices</h3>
                    <p>If you search for the best yet cheap pricing essay writing service, Cheapest Essay is the go-to-option for you!</p>
                </div>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="spn-company-flex">
                <div class="company-flex-inner">
                    <div class="sprite-cheapest company-flex-img company-flex-img3"></div>
                    <h3>Timely Delivery</h3>
                    <p>Now, no more missing your deadlines. We ensure to deliver your content on time no matter the deadline.</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span class="spn-company-flex">
                <div class="company-flex-inner">
                    <div class="sprite-cheapest company-flex-img company-flex-img4"></div>
                    <h3>24/7 Customer Support</h3>
                    <p>Customer support is 24/7 available at your service to solve your queries. We treat all our customers equally.    </p>
                </div>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-cf-block">
            <app-cta-button></app-cta-button>
        </mat-toolbar-row>
    </mat-toolbar>
</section>