<mat-toolbar>
    <mat-toolbar-row>
        <table class="tbl-service-level">
            <thead>
                <tr>
                    <th></th>
                    <th>Standard Quality</th>
                    <th>Premium Quality</th>
                    <th>Platinum Quality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Writer Background</td>
                    <td>MA</td>
                    <td>MA/PhD</td>
                    <td>MA/PhD</td>
                </tr>
                <tr>
                    <td>Free add-ons</td>
                    <td><span class="material-icons">check</span></td>
                    <td><span class="material-icons">check</span></td>
                    <td><span class="material-icons">check</span></td>
                </tr>
                <tr>
                    <td>Plagiarism check</td>
                    <td><span class="material-icons">check</span></td>
                    <td><span class="material-icons">check</span></td>
                    <td><span class="material-icons">check</span></td>
                </tr>
                <tr>
                    <td>High priority order</td>
                    <td></td>
                    <td><span class="material-icons">check</span></td>
                    <td><span class="material-icons">check</span></td>
                </tr>
                <tr>
                    <td>Advanced plagiarism check</td>
                    <td></td>
                    <td><span class="material-icons">check</span></td>
                    <td><span class="material-icons">check</span></td>
                </tr>
                <tr>
                    <td>Writer with 5+ years of experience</td>
                    <td></td>
                    <td></td>
                    <td><span class="material-icons">check</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <p>US$25.06/page</p>
                        <button type="button" mat-flat-button>Selected</button>
                    </td>
                    <td>
                        <p>US$25.06/page</p>
                        <button type="button" mat-flat-button>Selected</button>
                    </td>
                    <td>
                        <p>US$25.06/page</p>
                        <button type="button" mat-flat-button>Selected</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <h3 class="h3-additional-label">Additional Service for Excellent Quality</h3>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <table class="tbl-service-level">
            <tbody>
                <tr>
                    <td><mat-checkbox class="mcb-add-service">VIP Support<span>$22.99</span></mat-checkbox></td>
                </tr>
                <tr>
                    <td><mat-checkbox class="mcb-add-service">VIP Service packag<span>$22.99</span></mat-checkbox></td>
                </tr>
                <tr>
                    <td><mat-checkbox class="mcb-add-service">Proofread by edito<span>$22.99</span></mat-checkbox></td>
                </tr>
                <tr>
                    <td><mat-checkbox class="mcb-add-service">Fulfilled by top 10 writer<span>$22.99</span></mat-checkbox></td>
                </tr>
            </tbody>
        </table>
    </mat-toolbar-row>
</mat-toolbar>