<section class="full-width margin-bottom50">
    <div class="rounded-box">
        <mat-toolbar class="subpages-banner common-transparent">
            <mat-toolbar-row class="mtr-subpages">
                <h1 class="common-subpage-header">{{header_content[data_index].header}}</h1>
                <p class="common-subpage-subheader">{{header_content[data_index].subheader}}</p>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button type="button" class="btn-order-now" routerLink="/order" mat-flat-button>{{getOrderText(data_index)}}</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</section>