.mt-arabic {
    border-radius: 4.5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #C5DBEF, 5px 6px 35px 0 #C5DBEF;
    min-height: 100px;
    padding: 45px 12px;
}
.mtr-arabic {
    white-space: normal;
    display: block;
    direction: rtl;
}
.mtr-arabic h3 {
    color: #000000;
    font-family: "SF Pro Text Bold";
    font-size: 50px;
    letter-spacing: 0;
    line-height: 60px;
    white-space: normal;
}
.mtr-arabic span p {
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: normal;
    padding-left: 43px;
    margin: 42px 0;
}