.mt-card {
    max-width: 700px;
    width: 100%;
}
.mtr-back-wrap {
    margin: 22px auto;
}
.btn-back {
    border-radius: 60px;
    background-color: #FFFFFF;
    padding: 5px 22px;
    box-shadow: 0 2px 4px 0 rgb(64 85 196 / 14%) !important;
    color: #111111;
    font-family: "SF Pro Text Regular";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
}
.mtr-card-header {
    margin-bottom: 50px;
}
.mtr-card-header h1 {
    font-family: "SF Pro Text Bold";
    color: #000000;
    font-size: 36px;
    line-height: 43px;
}
.mtr-card-form h2 {
    color: #000000;
    font-size: 20px;
    font-family: "SF Pro Text Bold";
    line-height: 24px;
    margin: 30px auto;
}
.mtr-card-header span:last-child {
    color: #959595;
    font-size: 14px;
    font-family: "SF Pro Text Regular";
    direction: rtl;
}
.spn-mst-label {
    padding-right: 10px;
}
.mtr-card-header .mat-slide-toggle-bar {
    position: relative;
    width: 45px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 34px;
}
.mtr-card-header .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(23px, 0, 0);
}
.mtr-card-header .mat-slide-toggle-thumb-container {
    top: 2px
}
.frm-card {
    width: 100%;
    position: relative;
    padding: 20px;
}
.sec-card-form {
    display: flex;
}
.padding10 {
    padding: 5px;
}
.mff-card-inputs,
.spn-mff-wrap {
    max-width: 300px;
    width: 100%;
}
.spn-mff-wrap label {
    display: block;
    color: #959595;
    font-size: 12px;
    line-height: 14px;
    margin-left: 5px;
    font-family: "SF Pro Text Bold";
}
.inner-card-form {
    display: flex;
    width: 100%;
}
.spn-inner-card {
    max-width: 50% !important;
}
.btn-update-card {
    font-family: "SF Pro Text Bold";
    width: 100%;
    border-radius: 30px;
    background-color: #1a62f5;
    color: #fff;
    font-size: 16px;
    letter-spacing: .8px;
    line-height: 19px;
    padding: 20px;
    margin: 70px auto;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (max-width:768px) {
    .frm-card {
        padding: 0;
    }
    .sec-card-form {
        display: block;
    }
    .mff-card-inputs, .spn-mff-wrap {
        max-width: 100%;
    }
}