.sec-writers-profile {
    padding-top: 90px;
}
.spn-wph-separator {
    padding: 20px;
}
.wph-box-style {
    border: 1px solid #12245A;
    border-radius: 5px;
}
.spn-wph-info {

}
.spn-wph-info1 {
  max-width: 350px;
}
.wph-info-default {
    background-position: -104px -658px;
	background-size: 8765px 710px;
	width: 16px;
	height: 23px;
}