<section class="default-width sec-writers-profile">
    <mat-toolbar>
        <mat-toolbar-row class="common-sub-header">
            <h2>WRITERS PROFILE</h2>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<section class="sec-writers-info default-width">
    <mat-toolbar>
        <mat-toolbar-row class="mtr-wp-header">
            <span class="spn-wph-info wph-box-style">
                <div class="wph-info-wrap">
                    <div class="wph-info-inner">
                        <span><div class="wph-info-default sprites-icons"></div></span>
                        <span></span>
                        <span>

                        </span>
                    </div>
                </div>
                <h2>About Professor John Doe</h2>
                <p>Hello there! My name is Prof Winny, and I am an experienced tutor and academic researcher. I have been offering research writing services for the last five years and completed over 2,000 academic papers. My goal is to deliver topnotch writing services to my clients, as evident from the positive reviews on my profile. I am a perfectionist and a versatile writer, and this enables me to tackle topics from a wide range of subjects....  Read more</p>

            </span>
            <span class="fill-space spn-wph-separator"></span>
            <span class="spn-wph-info1 wph-box-style"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<div class="margin-bottom70">
    <app-common-additional-service></app-common-additional-service>
</div>
<app-common-services-slide></app-common-services-slide>