<mat-toolbar class="mt-discout-howitworks">
    <mat-toolbar-row>
        <h1>Here is what you need to do</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-discount-howitworks">
        <span class="fill-space spn-contain-steps">
            <div class="step-lbl-wrap">1</div>
            <h4 class="h4-step">Tell your friends about us.</h4>
            <p class="p-step-detail">Anyone who use your coupon OR follows your link gets $10 off the first order.</p>
        </span>
        <span class="fill-space spn-contain-steps">
            <div class="step-lbl-wrap add-green">2</div>
            <h4 class="h4-step">Your friends make an order</h4>
            <p class="p-step-detail">Your friend’s order must be completed so you can use your $15</p>
        </span>
        <span class="fill-space spn-contain-steps">
            <div class="step-lbl-wrap add-red">3</div>
            <h4 class="h4-step">Get $15 for every friend</h4>
            <p class="p-step-detail">For Example: If you invited 1000 friends, then you will get $15,000</p>
        </span>
    </mat-toolbar-row>
</mat-toolbar>