.spn-client-reviews-wrap {
    max-width: 450px;
    width: 100%;
}
.client-reviews-wrap {
    display: block;
    position: relative;
    margin-bottom: 40px;
}
.client-reviews-wrap:last-child {
    margin-bottom: 0;
}
.client-reviews-stars {
    display: flex;
    max-width: 250px;
    margin: 0 auto 20px auto;
}
.spn-five-star {
    background-position: -636px -1319px;
	width: 229px;
	height: 38px;
    margin: 0 auto;
    z-index: 1
}
.quote-wrapper {
    background-position: -2069px -895px;
	width: 435px;
	height: 189px;
    position: absolute;
    top: 0;
    left: 0
}
.client-reviews-inner {
    display: flex;
    min-height: 190px;
    width: 435px;
    margin-bottom: 40px;
    position: relative;
    align-items: center;
}
.client-reviews-inner:last-child {
    margin-bottom: 0;
}
.client-reviews-img-wrap {
    width: 100%;
}
.client-reviews-img-wrap p {
    color: #12245A;
    font-family: "SF Pro Text Bold";
    font-size: 32px;
    letter-spacing: 0;
    line-height: 38px;
    white-space: normal;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 0;
}
.client-reviews-img {
    background-position: -676px -64px;
	width: 100%;
	height: 530px;
}
.upper-quote {
    font-size: 120px;
    color: #FBD30D;
    position: absolute;
    left: 0;
    top: 25px;
    background: #fbfbfb;
    transform: rotate(180deg)
}
.lower-quote {
    font-size: 120px;
    color: #FBD30D;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fbfbfb;
}
.p-service-reviews {
    color: #12245A;
    font-family: "SF Pro Text Medium";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    display: block;
    margin: 0 auto
}

/* RESPONSIVE SECTION  */
/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width:576px) {
    .spn-five-star {
        background-position: -276px -659px;
        background-size: 9051px 709px;
        width: 91px;
        height: 19px;
    }
    .quote-wrapper {
        background-position: -1035px -447px;
        background-size: 8765px 710px;
        width: 218px;
        height: 95px;
    }
    .client-reviews-wrap {
        margin-bottom: 25px
    }
    .client-reviews-inner {
        width: 218px;
        min-height: 99px;
    }
    .p-service-reviews {
        font-size: 14px;
        line-height: 20px;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (max-width:768px) {    
}
 
/* Large devices (desktops, 992px and up) */
@media screen and (max-width:992px) { 
    .client-reviews-inner {
        padding: 0;
    }
    .web-hidden {
        display: none;
    }
    .mtr-client-reviews {
        display: block;
        text-align: -webkit-center;
    }
    .upper-quote,
    .lower-quote {
        font-size: 60px;
    }
    .client-reviews-img-wrap {
        max-width: 600px;
        width: 100%;
    }
    .client-reviews-img {
        background-position: -338px -32px;
        background-size: 8765px 710px;
        width: 360px;
        height: 265px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width:1200px) {  
    
}