<section class="default-width sec-client-reviews margin-bottom100">
    <mat-toolbar class="mt-client-reviews">
        <mat-toolbar-row class="common-sub-header">
            <h2>CLIENT REVIEWS</h2>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-client-reviews">
            <span class="spn-client-reviews-wrap">
                <div class="client-reviews-wrap">
                    <div class="client-reviews-stars">
                        <span class="sprite-cheapest spn-five-star"></span>
                        <!-- <span class="material-icons fill-space">star_rate</span>
                        <span class="material-icons fill-space">star_rate</span>
                        <span class="material-icons fill-space">star_rate</span>
                        <span class="material-icons fill-space">star_rate</span>
                        <span class="material-icons fill-space">star_rate</span> -->
                    </div>
                    <div class="client-reviews-inner">
                        <span class="sprite-cheapest quote-wrapper"></span>
                        <!-- <span class="material-icons upper-quote">format_quote</span> -->
                        <!-- <span class="material-icons lower-quote">format_quote</span> -->
                        <p class="p-service-reviews">Best Service to use.<br>I recommend it</p>
                    </div>
                </div>
                <div class="client-reviews-wrap">
                    <div class="client-reviews-stars">
                        <span class="sprite-cheapest spn-five-star"></span>
                    </div>
                    <div class="client-reviews-inner">
                        <span class="sprite-cheapest quote-wrapper"></span>
                        <p class="p-service-reviews">Outputs are decent.<br>Good job overall</p>
                    </div>
                </div>
                <div class="client-reviews-wrap">
                    <div class="client-reviews-stars">
                        <span class="sprite-cheapest spn-five-star"></span>
                    </div>
                    <div class="client-reviews-inner">
                        <span class="sprite-cheapest quote-wrapper"></span>
                        <p class="p-service-reviews">Website is friendly.<br>Easy to use</p>
                    </div>
                </div>
            </span>
            <span class="fill-space web-hidden"></span>
            <span class="client-reviews-img-wrap web-hidden">
                <p>THAT'S WHY WE ARE HERE 24/7</p>
                <div class="client-reviews-img sprite-cheapest"></div>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>