<div class="main-banner-background">
    <section class="width1120px">
        <mat-toolbar color="primary" class="mt-services">
            <div class="sprite-cheapest home-banner-img" style="bottom: 0"></div>
            <mat-toolbar-row class="mtr-services">
                <span class="spn-contain-services-banner add-height">
                    <p><a mat-button routerLink="/">Cheapest Essay</a> <span>/</span> <a class="a-service-path" mat-button >{{service_name}}</a></p>
                    <h1>{{initial_content}}</h1>
                </span>
                <span class="fill-space padding10"></span>
                <span class="spn-contain-services-form">
                    <app-common-banner-calculator [isHome]="true"></app-common-banner-calculator>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </section>
</div>

<section class="default-width">
    <mat-toolbar class="mt-services-content">
        <mat-toolbar-row class="mtr-services-contents common-sub-header">
            <h2>{{initial_pitch_header}}</h2>
            <span [innerHTML]="sanitized.bypassSecurityTrustHtml(initial_pitch_content)"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<app-common-overlapping-carousel></app-common-overlapping-carousel>
<app-common-company-flexing></app-common-company-flexing>
<!-- HOW IT WORKS SECTION -->
<section class="default-width sec-home-hiw margin-top100">
    <mat-toolbar class="mt-home-hiw">
        <mat-toolbar-row class="common-sub-header"><h2>How it works</h2></mat-toolbar-row>
    </mat-toolbar>
</section>
<app-common-how-it-works></app-common-how-it-works>
<app-common-writer-flexing></app-common-writer-flexing>
<app-common-client-reviews></app-common-client-reviews>

<section class="width1120px" *ngIf="isInitializing">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="mtr-services-contents common-sub-header">
            <h2>{{main_header}}</h2>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-sub-header">
            <div [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_header)"></div>
            <div [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content)"></div>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-sub-contents">
            <span class="spn-sub-content">
                <div class="sub-content-wrap">
                    <span [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content_list[1].header)"></span>
                    <span [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content_list[1].content)"></span>
                </div>
            </span>
            <span class="fill-space spn-separate-content"></span>
            <span class="spn-sub-content">
                <div class="sub-content-wrap">
                    <span [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content_list[2].header)"></span>
                    <span [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content_list[2].content)"></span>
                </div>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>
<section class="default-width">
    <button type="button" class="btn-get-essay" mat-flat-button routerLink="../order">{{getCTA().cta[1].text}}</button>
</section>
<div class="diagonal-box margin-bottom100">
    <div class="width1120px revert-diagonal">
        <app-common-discount-banner [has_image]="true"></app-common-discount-banner>
    </div>
</div>
<section class="width1120px" *ngIf="isInitializing">
    <mat-toolbar>
        <mat-toolbar-row class="mtr-sub-contents">
            <span class="spn-sub-content">
                <div class="sub-content-wrap">
                    <span [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content_list[3].header)"></span>
                    <span [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content_list[3].content)"></span>
                </div>
            </span>
            <span class="fill-space spn-separate-content"></span>
            <span class="spn-sub-content">
                <div class="sub-content-wrap">
                    <span [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content_list[4].header)"></span>
                    <span [innerHtml]="sanitized.bypassSecurityTrustHtml(sub_content_list[4].content)"></span>
                </div>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>
<section class="default-width">
    <button type="button" class="btn-get-freequote" mat-flat-button routerLink="../free-quote">Get a Free Quote</button>
</section>
<div class="diagonal-box margin-bottom100">
    <div class="width1120px revert-diagonal">
        <app-common-discount-banner></app-common-discount-banner>
    </div>
</div>
<div class="margin-bottom100">
    <app-common-service-similarities [isInServices]="true"></app-common-service-similarities>
</div>
<app-common-faqs *ngIf="isInitializing && faq_entry.length > 0" [faq_entry]="faq_entry"></app-common-faqs>

<app-common-services-slide [isWriters]="true"></app-common-services-slide>