.mt-services {
    position: relative;
}
.spn-contain-services-banner h1 {
    white-space: normal;
    color: #111111;
    font-family: "SF Pro Text Bold";
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    margin: 0 0 16px 0;
    /* max-width: 400px; */
}
.padding10 {
    padding: 10px;
}
.spn-contain-services-banner p {
    white-space: normal;
}
.spn-contain-services-banner p a.a-service-path {
    font-family: "SF Pro Text Bold";
}
.spn-contain-services-banner p a {
    line-height: 31px;
    font-size: 14px;
    font-family: "SF Pro Text Regular";
    color: #111111;
    padding: 0 5px
}
.spn-contain-services-banner p > span {
    color: #cccccc
}
.spn-contain-services-banner.add-height {
    height: 470px;
    align-self: flex-start;
}
.cta-btn-header {
    background-color: #F7BA00;
    font-size: 20px;
    line-height: 24px;
    font-family: "SF Pro Text Bold";
    padding: 10px 15px;
    border-radius: 15px;
}
.cta-btn-header .material-icons {
    font-size: 45px
}
.mtr-services-contents {
    display: block;
    text-align: center
}
.mtr-services-contents span {
    line-height: 31px;
    font-size: 17px !important;
    font-family: "SF Pro Text Regular";
    color: #111111;
    white-space: normal;
    display: block;
}
.mtr-services-contents span > p:first-child {
    display: block;
}
.mtr-services-contents span > p {
    display: none;
}
.mtr-sub-header h3 {   
    color: #000000;
    font-family: "SF Pro Text Bold";
    font-size: 33px;
    letter-spacing: 0
}
.mtr-sub-header ul li,
.mtr-sub-header p {
    color: #000000;
    font-family: "SF Pro Text Medium";
    font-size: 22px !important;
    letter-spacing: 0;
    line-height: 30px;
}
.mtr-sub-header ul li {
    text-align: left;
}
.mtr-sub-header {
    display: block;
    white-space: normal;
    text-align: center;
    margin-bottom: 70px;
}
.mtr-sub-contents {
    align-items: start;
    margin-bottom: 48px;
}
.sub-content-wrap {
    display: block;
    white-space: normal;
}
.spn-sub-content {
    width: 50%;
}
.spn-separate-content {
    padding: 15px;
}
.sub-content-wrap ul li b,
.sub-content-wrap ol li b,
.sub-content-wrap p b,
.sub-content-wrap span > b,
.sub-content-wrap h3 {
    color: #12245A;
    font-family: "SF Pro Text Bold";
    font-size: 28px;
    letter-spacing: 0;
}
.sub-content-wrap ul li b,
.sub-content-wrap ol li b,
.sub-content-wrap ul li span,
.sub-content-wrap ol li span {
    vertical-align: super !important;
}
.sub-content-wrap ul li,
.sub-content-wrap ol li,
.sub-content-wrap p,
.sub-content-wrap {
    color: #000000 !important;
    font-family: "SF Pro Text Medium" !important;
    font-size: 22px !important;
    font-weight: 500 !important;
    letter-spacing: 0 !important;
    line-height: 30px !important;
}
.sub-content-wrap ol li:before {
    background-color: #FBD501 !important;
    color: #12245A !important;
    font-family: "SF Pro Text Medium" !important;
    font-size: 17px !important;
    font-weight: bold !important;
    letter-spacing: 0 !important;
}
.sub-content-wrap ul li::marker {
    color: #FBD501 !important;
    font-size: 60px !important;
}
.margin-top100 {
    margin-top: 100px;
}
.btn-get-essay {
    margin: 0 auto 100px auto;
    background: #3BC160;
    display: block;
    color: #ffffff;
    font-family: "SF Pro Text Bold";
    font-size: 28px;
    letter-spacing: 0;
    white-space: normal;
    padding: 20px;
    border-radius: 15px;
}
.btn-get-freequote {
    margin: 0 auto 100px auto;
    background: #2A74F0;
    display: block;
    color: #ffffff;
    font-family: "SF Pro Text Bold";
    font-size: 28px;
    letter-spacing: 0;
    white-space: normal;
    padding: 20px;
    border-radius: 15px;
}
.btn-hire-writer {
    margin: 30px auto 100px auto;
    background: #172860;
    display: block;
    color: #ffffff;
    font-family: "SF Pro Text Bold";
    font-size: 28px;
    letter-spacing: 0;
    white-space: normal;
    padding: 20px;
    border-radius: 15px;
}
.btn-find-pro {
    margin: 30px auto 100px auto;
    background: #FAE976;
    display: block;
    color: #000000;
    font-family: "SF Pro Text Bold";
    font-size: 28px;
    letter-spacing: 0;
    white-space: normal;
    padding: 20px;
    border-radius: 15px;
}
.btn-find-pro .material-icons,
.btn-hire-writer .material-icons,
.btn-get-freequote .material-icons,
.btn-get-essay .material-icons {
    font-size: 45px;
}

@media screen and (max-width:992px) {
    .mtr-services {
        display: block;
        text-align: center;
        text-align: -webkit-center
    }
    .mtr-services .fill-space.padding10 {
        display: none
    }
    .cta-btn-header {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .cta-btn-header .material-icons {
        font-size: 25px;
    }

}
@media screen and (max-width:768px) {
    .mtr-sub-contents {
        display: block;
        text-align: left;
    }
}
@media screen and (max-width:576px) {
    .spn-contain-services-banner p {
        display: none;
    }
    .btn-find-pro,
    .btn-hire-writer,
    .btn-get-freequote,
    .btn-get-essay {
        font-size: 16px;
        padding: 10px 20px;
    }
    .btn-find-pro .material-icons,
    .btn-hire-writer .material-icons,
    .btn-get-freequote .material-icons,
    .btn-get-essay .material-icons {
        font-size: 25px;
    }
}