<div class="main-banner-background">
    <section class="default-width">
        <mat-toolbar color="primary" class="mt-services">
            <div class="sprite-cheapest home-banner-img" style="bottom: 0"></div>
            <mat-toolbar-row class="mtr-services">
                <span class="spn-contain-services-banner add-height">
                    <p><a mat-button routerLink="/">Cheapest Essay</a> <span>/</span> <a class="a-service-path" mat-button >{{service_name}}</a></p>
                    <h1>{{initial_content}}</h1>
                </span>
                <span class="fill-space padding10"></span>
                <span class="spn-contain-services-form">
                    <app-common-banner-calculator [isHome]="true"></app-common-banner-calculator>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </section>
</div>

<section class="default-width">
    <mat-toolbar class="mt-services-content">
        <mat-toolbar-row class="mtr-services-contents common-sub-header">
            <h2>{{initial_pitch_header}}</h2>
            <span [innerHTML]="initial_pitch_content"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<app-common-overlapping-carousel></app-common-overlapping-carousel>

<section class="width1120px">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="mtr-services-contents common-sub-header">
            <h2>{{main_header}}</h2>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-sub-header">
            <div [innerHtml]="sub_header"></div>
            <div [innerHtml]="sub_content"></div>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-sub-contents" *ngFor="let number of row_filler; let i = index;">
            <!-- <span class="spn-sub-content">
                <div class="sub-content-wrap" *ngFor="let list of left_column">
                    <span [innerHtml]="list.header"></span>
                    <span [innerHtml]="list.content"></span>
                </div>
            </span>
            <span class="fill-space spn-separate-content"></span>
            <span class="spn-sub-content">
                <div class="sub-content-wrap" *ngFor="let list of right_column">
                    <span [innerHtml]="list.header"></span>
                    <span [innerHtml]="list.content"></span>
                </div>
            </span> -->
            <span class="spn-sub-content">
                <div class="sub-content-wrap">
                    <span [innerHtml]="sub_content_list[number+1+i].header"></span>
                    <span [innerHtml]="sub_content_list[number+1+i].content"></span>
                </div>
            </span>
            <span class="fill-space spn-separate-content"></span>
            <span class="spn-sub-content">
                <div class="sub-content-wrap">
                    <span [innerHtml]="sub_content_list[number+2+i].header"></span>
                    <span [innerHtml]="sub_content_list[number+2+i].content"></span>
                </div>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<app-common-services-slide [isWriters]="true"></app-common-services-slide>