.mt-services {
    position: relative;
}
.spn-contain-services-banner h1 {
    white-space: normal;
    color: #111111;
    font-family: "SF Pro Text Bold";
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    margin: 0 0 16px 0;
    /* max-width: 400px; */
}
.padding10 {
    padding: 10px;
}
.spn-contain-services-banner p {
    white-space: normal;
}
.spn-contain-services-banner p a.a-service-path {
    font-family: "SF Pro Text Bold";
}
.spn-contain-services-banner p a {
    line-height: 31px;
    font-size: 17px;
    font-family: "SF Pro Text Regular";
    color: #111111;
}
.spn-contain-services-banner p a:first-child {
    padding-left: 0;
}
.spn-contain-services-banner p > span {
    color: #cccccc
}
.spn-contain-services-banner.add-height {
    height: 470px;
    align-self: flex-start;
}
.mtr-services-contents {
    display: block;
    text-align: center
}
.mtr-services-contents span {
    line-height: 31px;
    font-size: 17px;
    font-family: "SF Pro Text Regular";
    color: #111111;
    white-space: normal;
    display: block;
}
.mtr-services-contents span > p:first-child {
    display: block;
}
.mtr-services-contents span > p {
    display: none;
}
.mtr-sub-header h3 {   
    color: #000000;
    font-family: "SF Pro Text Bold";
    font-size: 33px;
    letter-spacing: 0
}
.mtr-sub-header p {
    color: #000000;
    font-family: "SF Pro Text Medium";
    font-size: 22px !important;
    letter-spacing: 0;
    line-height: 30px;
}
.mtr-sub-header {
    display: block;
    white-space: normal;
    text-align: center;
    margin-bottom: 70px;
}
.mtr-sub-contents {
    align-items: start;
    margin-bottom: 48px;
}
.sub-content-wrap {
    display: block;
    white-space: normal;
}
.spn-sub-content {
    width: 50%;
}
.spn-separate-content {
    padding: 15px;
}
.sub-content-wrap h3 {
    color: #12245A;
    font-family: "SF Pro Text Bold";
    font-size: 28px;
    letter-spacing: 0;
}
.sub-content-wrap ul li,
.sub-content-wrap ol li,
.sub-content-wrap p,
.sub-content-wrap {
    color: #000000 !important;
    font-family: "SF Pro Text Medium" !important;
    font-size: 22px !important;
    font-weight: 500 !important;
    letter-spacing: 0 !important;
    line-height: 30px !important;
}
.margin-top100 {
    margin-top: 100px;
}

@media screen and (max-width:992px) {
    .mtr-services {
        display: block;
        text-align: center;
        text-align: -webkit-center
    }

}
@media screen and (max-width:768px) {
    .mtr-sub-contents {
        display: block;
        text-align: left;
    }
}