.mt-apply-fq {
    position: relative;
    padding: 0 20px 20px 20px;
}
.mtr-apply-fq {
    display: block;
}
.mtr-apply-fq h1 {
    font-family: "SF Pro Text Bold";
    color: #000000;
    font-size: 36px;
    line-height: 48px;
    margin: 60px auto 15px auto;
    text-align: center;
    white-space: normal;
}
.mtr-apply-fq p {
    font-family: "SF Pro Text Regular";
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 53px auto;
    white-space: normal;
}
.email-fq-wrap {
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 7px;
    display: block;
    margin-bottom: 10px;
}
.email-fq-wrap mat-form-field {
    display: block;
}
.email-fq-wrap .mat-form-field-infix {
    border-top: 0.54375em solid transparent !important;
}
.email-fq-wrap .mat-form-field-flex {
    background: transparent !important;
    padding: 0 18px !important;
}
.email-fq-wrap .mat-form-field-wrapper {
    height: 55px;
    padding-bottom: 0;
}
.email-fq-wrap .mat-form-field-underline {
    display: none;
}
.email-fq-wrap .panel-input-style {
    color: #000000;
    font-family: "SF Pro Text Medium";
    font-size: 18px;
    line-height: 24px;
    width: 100%;
}
.frm-apply-fq button {
    font-family: "SF Pro Text Medium";
    height: 50px;
    width: 100%;
    border-radius: 30px;
    background-color: #111111;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}
.frm-apply-fq p {
    font-family: "SF Pro Text Regular";
    opacity: 0.6;
    color: #111111;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}
.frm-apply-fq mat-error {
    font-family: "SF Pro Text Regular";
    font-size: 12px;
    white-space: normal;
    line-height: 14px;
    margin-bottom: 10px;
    text-align: center;
}