.mt-services {
    position: relative;
}
.spn-contain-services-banner {
    align-self: flex-start;
}
.spn-contain-services-banner h1 {
    color: #000000;
    font-family: "SF Pro Text Bold";
    font-size: 42px;
    letter-spacing: 0;
    white-space: normal;
    line-height: 48px;
    margin: 40px 0 16px 0;
}
.frm-services-form {
    height: 100%;
    max-height: 711.14px;
    width: 390px;
    border-radius: 15px;
    background-color: #F2F2F2;
    box-shadow: 0 5px 13px 0 rgba(64,85,196,0.14);
    padding: 30px;
    position: relative;
    background: linear-gradient(315.93deg, #294A93 0%, #12245A 100%);
    overflow: hidden;
}
.frm-services-form mat-form-field {
    display: block;
    padding: 0;
}
.frm-services-form .mat-form-field-flex {
    background: transparent !important;
    padding: 0 18px !important;
}
.frm-services-form .mat-form-field-wrapper {
    padding-bottom: 0;
}
.frm-services-form .mat-form-field-underline {
    display: none;
}
.panel-drop-style-service {
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 7px;
    margin-top: 50px;
}
.panel-drop-style-service .mat-option {
    color: #000000 !important;
    background-color: #ffffff !important;
}
.panel-drop-style-service .mat-active {
    background-color: #12245A !important;
    color: #ffffff !important;
}
.mff-services {
    height: 46.13px;
    width: 100%;
    max-width: 492px;
    border-radius: 4.5px;
    background-color: #FFFFFF;
    color: #111111;
    font-family: "SF Pro Text Semibold";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 25px;
    padding: 0 13px 0 18px;
    margin: 0 auto;
    border: 1px solid #000000;
}
.mff-services .mat-form-field-infix {
    border-top: 0 !important;
}
.mff-services .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mff-services .mat-form-field-underline {
    display: none !important;
}
.mff-services .mat-select-arrow-wrapper {
    visibility: hidden !important;
}
.mff-services .dd-icon {
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, 75%);
    background-size: 1190px;
    background-position: -5px -65px;
}
.mff-email {
    background-color: #ffffff;
    border-radius: 7px;
}
.mff-email .mat-form-field-infix {
    border-top: 0.54375em solid transparent !important;
}
.panel-services-email {
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 18px;
    line-height: 24px;
    width: 100%;
}
.btn-submit-services {
    height: 85px;
    width: 100%;
    color: #F2F2F2;
    font-family: "SF Pro Text Bold";
    font-size: 27px;
    letter-spacing: 0;
    line-height: 33px;
    border-radius: 10px;
    background-color: #6C89E0;
    margin: 60px auto 0 auto;
}
.mtr-what-we-do {
    display: block;
    margin-top: 60px;
}
.margin-bottom15 {
    margin-bottom: 15px;
}

.mt-wwd-assistance {
    margin-bottom: 70px;
}
.mtr-wwd-assistance {
    align-items: flex-start;
    margin-bottom: 40px;
}
.mtr-wwd-assistance h2 {
    color: #12245A;
    font-family: "SF Pro Text Bold";
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 34px;
    white-space: normal;
}
.mtr-wwd-assistance .mat-list-base .mat-list-item,
.mtr-wwd-assistance p {
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: justify;
    white-space: normal;
    margin-bottom: 15px;
}
.mtr-wwd-assistance .mat-list-base {
    padding: 0;
    margin-bottom: 15px;
}
.mtr-wwd-assistance .mat-list-base .mat-list-item {
    margin-bottom: 0;
    height: 43px;
}
.mtr-wwd-assistance p:last-child {
    margin-bottom: 0;
}
.mtr-wwd-assistance .mat-list-base .mat-list-item .mat-list-item-content,
.mtr-wwd-assistance .mat-list-base .mat-list-option .mat-list-item-content {
    padding : 0;
}
.spn-fs-separator {
    padding: 20px;
}
.mtr-wwd-assistance span {
    max-width: 48%;
}

/* RESPONSIVE SECTION  */
/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width:576px) {  
  .order-written-item {
      /* width: 100%; */
      margin: 15px auto;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (max-width:768px) {
    .spn-contain-services-banner h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .mtr-what-we-do h2 {
        line-height: 52px;
        padding-bottom: 20px;
        text-align: center;
        text-align: -webkit-center;
    }
    .mtr-wwd-assistance {
        display: block;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media screen and (max-width:992px) { 
    .mtr-services {
        display: block !important;
        text-align: center;
        text-align: -webkit-center;
    }
    .spn-contain-services-banner h1 {
        max-width: 450px;
        margin: 0 auto 40px auto
    }
    .mtr-what-we-do {
        margin-top: 0
    }
    .frm-services-form {
      width: auto;
      max-width: 500px;
    }
}
@media screen and (max-width:1200px) {
}