<section class="full-width">
    <div class="main-banner-background">
        <mat-toolbar class="mt-services default-width">
            <mat-toolbar-row class="mtr-services">
                <span class="spn-contain-services-banner">
                    <h1>Cheapest Essay offer the most Professional Writing Service at the best price</h1>
                </span>
                <span class="fill-space"></span>
                <span class="spn-contain-services-form">
                    <form [formGroup]="newOrderForm" class="frm-services-form" (ngSubmit)="submitNewUser()">
                        <app-common-progress-bar *ngIf="isProgressLoading"></app-common-progress-bar>
                        <mat-form-field class="mff-services margin-bottom15">
                            <mat-select aria-label="choose paper" formControlName="paper" disableOptionCentering [value]="newOrderForm.value.paper" panelClass="panel-drop-style-service">
                                <!-- <mat-optgroup label="Most Popular"> -->
                                    <mat-option *ngFor="let list of pPapers" [value]="list.paper_id">{{list.paper_name}}</mat-option>
                                <!-- </mat-optgroup> -->
                                <!-- <mat-optgroup label="Others"> -->
                                    <mat-option *ngFor="let list of oPapers" [value]="list.paper_id">{{list.paper_name}}</mat-option>
                                <!-- </mat-optgroup> -->
                            </mat-select>
                            <span matSufix><div class="sprites-icons dd-icon"></div></span>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="mff-email">
                            <input type="email" matInput placeholder="Enter an email to signup" required class="panel-services-email" (input)="emailInput">
                        </mat-form-field>
                        <button type="submit" mat-flat-button class="btn-submit-services">GET ESSAY HELP</button>
                    </form>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</section>

<section class="default-width">
    <mat-toolbar class="">
        <mat-toolbar-row class="common-sub-header mtr-what-we-do">
            <h2>Top orders written by our professional writers</h2>
            <p>Choose from our professional writers and find the right one for your project either it's essay, assignment, research paper etc. You will get the best essay help and writing help from our professional writing service using our live chat feature. You can message us 24/7 and get updates on your order. Our awesome support will gladly assist you anytime!</p>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<app-common-overlapping-carousel></app-common-overlapping-carousel>

<app-common-service-similarities></app-common-service-similarities>

<section class="default-width">
    <mat-toolbar class="mt-wwd-assistance">
        <mat-toolbar-row class="common-sub-header mtr-what-we-do">
            <h2>Need an Essay Help or Writing Service?</h2>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-wwd-assistance">
            <span>
                <h2>How Cheapest Essay helps you in Writing?</h2>
                <p>Do you belong with the majority of students who need essay writing help? If the answer is no, keep it up. But, if the answer is yes, do not be ashamed. You are not doomed, just like the majority of college students. There are a lot of best essay writing services, but one stands out that offer the best writers, reliable 24/7 customer support, fastest and the cheapest price in the market--Cheapest Essay. We are an online writing service providing Personalized English Writing Suggestions. The good news is, we usually do not just offer essay paper writing services, but also essay editing services, proofreading, chapter writing, and editing...the list goes on. Big help, especially if a student is currently writing up not just one but three major papers. Our professional writers also had years of experience, so a student can be confident that his ideas (and his future) are in good, capable hands.</p>
            </span>
            <span class="fill-space spn-fs-separator"></span>
            <span>
                <h2>How can you get the Best Professional Writing Service?</h2>
                <p>Now that you have decided that you want the best Professional Writing Service, allow us to show you how you can get one! First, click here to go directly to our Order Form. Select the specifications of your order: 'Type of Service', 'Writer Level', 'Type of Paper', 'Deadline', 'Pages', and your desired 'Topic'. You can also add some important, specific details. Upload any significant files or photos in the provided box. Second, your payment will be processed and you can now checkout. We also let our costumers view a transparent, real-time update on the progress of their order. They can talk to our reliable support agents for queries. We will also select a fitter writer to compose and cater to your specifications. Once the writer is finished working, we will run an anti-Plagiarism program to make sure your order is 100% original! Finally, you will receive an e-mail where your order is attached thereby. That's it! A breeze, right?</p>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-wwd-assistance">
            <span>
                <h2>No Plagiarized Writing Services for you!</h2>
                <p>"...Plagiarism is unacceptable in any grammar school, college, or law school, and even in politics. It is wholly intolerable in the practice of law." DeWilde v. Gannett Publishing, 797 F.Supp. 55, 56 (D.Maine 1992). In Cheapest Essay, we value integrity. That is why we partnered with Turnitin to make sure you only get the most original paper as possible! So, we only expect to perform original, plagiarism-free best Essay Writing services! Moreover, the customer will get a 100% refund if the level of plagiarism is higher than 10%. *Note: The plagiarism level allowed must be less than 10%.</p>
                <p>As a customer, you reserve the right to ask for a revision. Moreover, customer will get 100% refund if the level of plagiarism is higher than 10%. ( Note that the plagiarism level allowed by Our Company must be less than 10%.)</p>
                <p>We don't guarantee plagiarism in Editing/ Proofreading orders! Because they might be plagiarism before you gave us. So we can't give a refund if your editing order is plagiarized.</p>
            </span>
            <span class="fill-space spn-fs-separator"></span>
            <span>
                <h2>Get the best and Professional Writing Services Now</h2>
                <p>If you have decided to buy or order an Essay from Cheapest Essay, below is a complete guide on placing an order.</p>
                <mat-list>
                    <mat-list-item>- Look for cheapestessay.com </mat-list-item>
                    <mat-list-item>- Create an Account </mat-list-item>
                    <mat-list-item>- Click Order Now Button </mat-list-item>
                    <mat-list-item>- Fill out the required fields then click Save & Order </mat-list-item>
                    <mat-list-item>- Choose your prefer ways of payment </mat-list-item>
                    <mat-list-item>- We'll choose the perfect writer for your order. </mat-list-item>
                    <mat-list-item>- And an email of your completed order will be sent.</mat-list-item>
                </mat-list>
                <p>Cheapest Essay also gives back to its customer, once you have created an account you are granted a unique referral code which you can share with your friends and classmates for them to get $10 discount on their first order while you earn $15 in return. Once accumulated balance, you can redeem it and use to pay for your next order.</p>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<div class="margin-bottom70">
    <app-common-company-flexing></app-common-company-flexing>
</div>
<div class="margin-bottom70">
    <app-common-additional-service></app-common-additional-service>
</div>
<!-- HOME COMMON SERVICE/CONTACT US -->
<app-common-services-slide></app-common-services-slide>