<mat-toolbar class="mt-web-contents common-transparent">
    <mat-toolbar-row class="mtr-web-contents" *ngIf="has_header">
        <div *ngFor="let list of getArrayValue(data_content)">
            <h3 *ngFor="let header of list.headers">
                <span class="spn-bullet-item fill-space"></span>
                <span class="fill-space">{{header}}</span>
            </h3>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngFor="let list of getArrayValue(data_content); let i = index" [ngClass]="((i - getInitialRow(left_first))%2===0)?'row-reverse':''">
        <span class="spn-content-img">
            <div class="sprite-cheapest photo-content-img {{list.class}}"></div>
        </span>
        <span class="fill-space spn-content-separator"></span>
        <span class="spn-content-desc" [ngClass]="has_background_content && i > 0 ? 'has-background' : ''">
            <div class="spn-content-block">
                <h3 class="photo-info-default" [ngClass]="{'is-header-faq':is_faqs_content, 'is-header-disclaimer':is_disclaimer_content}" *ngIf="list.title==null?false:true">{{list.title}}</h3>
                <p *ngFor="let content of list.contents" [ngClass]="{'is-label-faq':is_faqs_content, 'is-label-disclaimer':is_disclaimer_content}" [innerHtml]="content"></p>
            </div>
            <app-cta-button *ngIf="getArrayValue(data_content)[i].cta != null" [customCTA]="getArrayValue(data_content)[i].cta"></app-cta-button>
            <button *ngIf="has_order_button" routerLink="/order" type="button" class="btn-get-started" mat-flat-button>Get Started</button>
            <button *ngIf="has_contact_button" routerLink="/contact-us" type="button" class="btn-get-started" mat-flat-button>Contact Us</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>