/* .mt-order-layout {
    padding-top: 140px;
    padding-bottom: 55px;
    position: relative
}
.spn-order-form {
    width: 100%;
    max-width: 720px;
    min-height: 500px;
    position: relative;
}
.spn-summary-form {
    width: 100%;
    max-width: 300px;
    align-self: start;
    position: relative;
}
.mtb-order-steps {
    width: 100%;
}
.mtb-order-steps .mat-tab-label {
    height: 33px;
    width: 33.33%;
    opacity: 1;
    border-bottom: 2px solid #FBD501;
    margin-bottom: 5px;
}
.mtb-order-steps .mat-tab-label-active {
    border-bottom: 2px solid #12245A;
}
.mtb-order-steps .mat-tab-label-content {
    color: #000000;
    font-family: "SF Pro Text Semibold";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21px;
}
.mtb-order-steps .mat-tab-header {
    border-bottom: 0 !important;
    margin-bottom: 25px;
}
.p-form-label {
    color: #000000;
    font-family: "SF Pro Text Medium";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    padding-right: 15px;
}
.p-form-label.asterix-after:after {
    content: "*";
    color: red;
}
.spn-input-container {
    width: 100%;
    max-width: 510px;
    display: flex;
}
.spn-separator {
    width: 100%
}
.spn-separator-col1 {
    width: 73px;
}
.spn-separator-col1 .mat-select {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 35px;
}
.spn-separator-col11 {
    width: 100%;
}
.spn-separator-col1 .mff-order-input .mat-form-field-outline {
    border-radius: 5px 0 0 5px;
}
.spn-separator-col11 .mff-order-input .mat-form-field-outline {
    border-radius: 0 5px 5px 0;
}
.spn-input-container .mat-slider-horizontal {
    height: 8px
}
.spn-input-container .mat-slider-wrapper {
    top: 0 !important;
    left: 8px !important;
    right: 0 !important;
}
.mff-order-input {
    width: 100%;
    color: #000000;
    font-family: "SF Pro Text Medium";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}
.mff-order-input.mff-textarea .mat-form-field-flex {
    height: 114px
}
.mff-order-input.mff-textarea textarea {
    height: 85px;
    resize: none;
}
.mff-order-input .mat-form-field-prefix {
    top: 0 !important;
    margin-right: 10px
}
.mff-order-input .mat-form-field-flex {
    height: 45px;
}
.mff-order-input .mat-form-field-label-wrapper {
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    opacity: 0.5;
    top: -8px
}
.mff-order-input .mat-form-field-outline {
    border: 1.5px solid #12245A;
    color: transparent !important;
    border-radius: 5px;
    opacity: 1 !important;
}
.mff-order-input.input-coupon .mat-form-field-outline {
    border: 1px solid #12245A;
    border-radius: 2px;
}
.mff-order-input .mat-form-field-infix {
    border-top: 0.34375em solid transparent;
    padding: 0.8em 0
}
.mff-order-input .mat-form-field-subscript-wrapper {
    margin-top: 4px;
}
.mff-order-input .mat-select-arrow-wrapper {
    transform: translateY(0%) !important    
}
.mff-order-input .mat-select-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
}
.ms-select-option {
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 7px;
    margin-top: 35px;
    margin-left: -3px;
    width: 100%;
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}
.ms-select-option .mat-option.mat-selected:not(.mat-option-multiple) {
    background: #12245A;
}
.ms-select-option .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #ffffff;
}
.ms-slider-input {
    width: 100%
}
.slider-input-wrap .mat-slider-horizontal .mat-slider-ticks-container {
    height: 4px;
}
.slider-input-wrap.no-ticks {
    margin-top: 14px;
}
.slider-input-wrap.no-ticks .mat-slider-horizontal .mat-slider-ticks {
    height: 0;  
}   
.slider-input-wrap .mat-slider-horizontal .mat-slider-ticks {
    opacity: 1;
    background-image: repeating-linear-gradient(to right, #FBD501, #FBD501 8px, transparent 0, transparent);
    height: 4px;
    background-size: 9.09091% 2px !important;
}
.slider-input-wrap .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 4px;
}
.slider-input-wrap .mat-slider-thumb {
    height: 22px;
    width: 22px;
    bottom: -11px;
    background-color: #12245a !important;
}
.slider-input-wrap .mat-slider-thumb-label-text {
    color: #ffffff
}
.slider-input-wrap .mat-slider.mat-slider-horizontal .mat-slider-track-background,
.slider-input-wrap .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
}
.slider-label-wrap {
    display: flex;
}
.slider-label-wrap span.active-dl {
    font-family: "SF Pro Text Bold";
    opacity: 1;
    font-weight: bold ;
}
.slider-label-wrap span {
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    opacity: 0.6
}
.p-input-label,
.p-slider-label {
    white-space: normal;
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    margin: 5px auto 0 auto;
}
.mrg-select-input {
    color: #000000;
    font-family: "SF Pro Text Medium";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    display: block;
    margin-top: 16px;
}
.mrg-select-input .mat-radio-label {
    margin-right: 14px
}
.total-page-wrap {
    overflow: hidden;
    display: flex;
    border: 1.5px solid #12245A;
    border-radius: 5px;
    width: 100%;
    height: 35px;
}
.spn-words-total {
    max-width: 100px;
    width: 100%;
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
    margin: auto;
}
.spn-page-total input {
    height: 35px;
    width: -webkit-fill-available;
    border: none;
    outline: none;
    padding: 0 15px;
    color: #000000;
    font-family: "SF Pro Text Medium";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    background: transparent;
    border-right: 1.5px solid #12245A;
}
.h3-additional-label {
    color: #000000;
    font-family: "SF Pro Text Semibold" !important;
    font-size: 22px !important;
    letter-spacing: 0 !important;
    line-height: 26px !important;
    margin-top: 29px !important;
    margin-bottom: 25px !important
}
.upload-material-wrap {
    display: flex;
    height: 114px;
    width: 100%;
    border: 1.5px dashed #12245A;
    border-radius: 5px;
}
.btn-next-step {
    border-radius: 5px;
    background-color: #FBD501;
    color: #000000;
    font-family: "SF Pro Text Semibold";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 11px 44px;
    margin-top: 50px
}
.paper-details-outer {
    display: flex;
    width: 100%;
} */