<mat-toolbar class="mt-order-layout default-width">
    <mat-toolbar-row class="mtr-order-layout">
        <span class="spn-order-form">
            <app-common-progress-bar *ngIf="isProgressLoading"></app-common-progress-bar>
            <mat-tab-group class="mtb-order-steps" dynamicHeight [(selectedIndex)]="demo1TabIndex" (click)="tabClicked()" animationDuration="200ms">
                <mat-tab label="1. Paper Details">
                    <app-paper-details *ngIf="!isProgressLoading" [paper_data]="order_data"></app-paper-details>
                </mat-tab>
                <mat-tab label="2. Service Level">
                    <app-service-level *ngIf="!isProgressLoading"></app-service-level>
                </mat-tab>
                <mat-tab label="3. Contact Information">
                    <app-contact-information *ngIf="!isProgressLoading"></app-contact-information>
                </mat-tab>
            </mat-tab-group>
            <mat-toolbar *ngIf="!isProgressLoading">
                <mat-toolbar-row class="mtr-paper-details">
                    <div class="paper-details-outer">
                        <span class="fill-space"></span>
                        <button type="button" mat-flat-button (click)="btnNavigateOrderTab()" class="btn-next-step">{{btnNavCaption}}</button>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </span>
        <span class="fill-space spn-order-layout"></span>
        <span class="spn-summary-form" [style.align-self]="isFlexEnd ? 'flex-end' : 'start'">
            <app-order-summary></app-order-summary>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<!-- HOME CONTACT US SECTION -->
<div class="margin-bottom70">
    <app-common-additional-service></app-common-additional-service>
</div>
<!-- HOME COMMON SERVICE/CONTACT US -->
<app-common-services-slide></app-common-services-slide>

<!-- <section class="default-width sec-order-form">
    <app-new-order [isEditing]="false"></app-new-order>
</section> -->