<section class="default-width">
    <mat-toolbar class="mt-page-not-found">
        <mat-toolbar-row class="mtr-pnf-banner">
            <div class="sprite-cheapest pnf-banner"></div>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-pnf-content">
            <h1>LOOKS LIKE YOU'RE LOST</h1>
            <p>The page you are looking for is not available!</p>
            <div class="pnf-action-wrap">
                <span><button mat-flat-button type="button" routerLink="/">Go To Home</button></span>
                <!-- <span class="fill-space"></span>
                <span class="spn-timer">{{countdown}}</span> -->
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</section>