.mt-common-paper mat-toolbar-row {
    padding: 0;
    white-space: normal;
}
.mtr-common-paper-header {
    margin-top: 22px;
    margin-bottom: 27px;
    display: block;
}
.mt-common-paper h1 {
    color: #000000;
    font-family: "SF Pro Text Bold";
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 31px;
    margin: 0 auto;
    display: block;
}
.mt-common-paper h1 > span {
    color: #578EFD;
}
.mt-common-paper h2 {
    color: #000000;
    font-family: "SF Pro Text Bold";
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0 auto;
    display: block;
}
.sec-order-paper {
  min-height: 319px;
  width: 100%;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(64,85,196,0.14);
  padding: 19px 35px;
}
.sec-order-paper h3 {
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 49px;
    margin: 0 auto 33px auto;
}
.sec-order-paper p {
    color: #9B9B9B;
    font-family: "SF Pro Text Regular";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 31px;
    margin: 0;
}