.mt-home-faq {
    background: transparent;
}
.mtr-home-faq > span:first-child {
    max-width: 430px;
    width: 100%;
}
.mtr-home-faq > span:nth-child(2) {
    padding: 10px;
}
.mtr-home-faq > span:last-child {
    max-width: 600px;
    width: 100%;
}
.home-faq-img {
    background-position: 12.298% 0;
	background-size: 8765px 710px;
	width: 345px;
	height: 298px;
    margin: 0 auto
}

 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (max-width:768px) {  
    .mtr-home-faq > span:first-child {
        display: none;
    }
    .mtr-home-faq > span:nth-child(2) {
        display: none;
    }
    .mtr-home-faq > span:last-child {
        display: block;
        margin: 0 auto;
    }
}