<div class="diagonal-box margin-bottom100">
    <div class="default-width revert-diagonal">
        <mat-toolbar class="mt-home-faq">
            <mat-toolbar-row class="common-sub-header">
                <h2>ESSAY WRITING F.A.Q.</h2>
            </mat-toolbar-row>
            <mat-toolbar-row class="mtr-home-faq">
                <span>
                    <div class="sprite-cheapest home-faq-img"></div>
                </span>
                <span class="fill-space"></span>
                <span>
                    <app-common-faqs-data [faq_home_content]="faq"></app-common-faqs-data>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>