<form [formGroup]="newOrderForm" name="frm-new-order" ngNativeValidate>
    <mat-toolbar color="primary">
        <mat-toolbar-row class="mtb-new-order" [style.padding-top]="isUserActive ? '80px' : '140px'">
    
            <span class="spn-new-order-wrap">
                <div class="new-order-wrap">
                    <app-common-progress-bar *ngIf="isProgressLoading"></app-common-progress-bar>
                    <section class="sec-order-wrap sec-edit-header" *ngIf="isEditing == true">
                        <h1>Edit Order</h1>
                    </section>
                    <section class="sec-order-wrap sec-service-type" *ngIf="newOrderForm.value.paper != 127">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Type of Service</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip1="matTooltip" (click)="tooltip1.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[0]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Type of Service Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap">
                            <mat-button-toggle-group formControlName="service" class="mbtg-common-style" [value]="newOrderForm.value.service">
                                <mat-button-toggle 
                                *ngFor="let list of serviceTypes" 
                                class="tri-btn-toggle"
                                (click)="patchPageSlide(list.type_of_service_id)"
                                [value]="list.type_of_service_id">{{list.type_of_service}}</mat-button-toggle>
                            </mat-button-toggle-group>
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-writer-level" *ngIf="newOrderForm.value.paper != 127">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Writer Level</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip2="matTooltip" (click)="tooltip2.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[1]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Writer Level Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap">
                            <mat-button-toggle-group formControlname="academic" class="mbtg-common-style" [value]="newOrderForm.value.academic">
                                <mat-button-toggle 
                                *ngFor="let list of writerLevels; let i = index" 
                                [disabled]="setAcademicToMaster(newOrderForm.value.paper) && i < 2"
                                class="tri-btn-toggle"
                                [ngClass]="{'disabled-btn':setAcademicToMaster(newOrderForm.value.paper) && i < 2}"
                                (click)="patchLevel(list.academic_level_id)"
                                [value]="list.academic_level_id">{{list.academic_level_name}}</mat-button-toggle>
                            </mat-button-toggle-group>
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-paper-type">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Type of Paper</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip3="matTooltip" (click)="tooltip3.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[2]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Type of Paper Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap">
                            <mat-form-field appearance="fill" class="mfl-common-select">
                                <mat-select aria-label="select paper" disableOptionCentering formControlName="paper" panelClass="mt-common-select" [value]="newOrderForm.value.paper">
                                    <!-- <mat-option disabled><input class="mt-search-input" type="text" placeholder="Search" (keyup)="filterDropdown(pPaperTypes,$event)"></mat-option> -->
                                    <mat-optgroup label="Most Popular">
                                        <mat-option 
                                        *ngFor="let list of pPaperTypes"
                                        (click)="patchPaper(list)"
                                        [value]="list.paper_id">{{list.paper_name}}</mat-option>
                                    </mat-optgroup>
                                    <mat-optgroup label="Others">
                                        <mat-option 
                                        *ngFor="let list of oPaperTypes"
                                        (click)="patchPaper(list)"
                                        [value]="list.paper_id">{{list.paper_name}}</mat-option>
                                    </mat-optgroup>
                                </mat-select>
                                <span matSufix><div class="sprites-icons dd-icon"></div></span>
                            </mat-form-field>
                        </span>
                    </section>
                    <!-- only appears when other options is selected -->
                    <section class="sec-other-order-wrap" *ngIf="newOrderForm.value.paper==33">
                        <span class="fill-space">
                            <p class="p-order-label">Other Type of Paper</p>
                        </span>
                        <span class="spn-input-wrap">
                            <input matInput class="inp-writers-choice" type="text" required placeholder="Specify the Type of Paper" required formControlName="other_paper" [value]="newOrderForm.value.other_paper">
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-subject" *ngIf="newOrderForm.value.paper != 127">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Subject</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip4="matTooltip" (click)="tooltip4.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[3]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Subject Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap">
                            <mat-form-field appearance="fill" class="mfl-common-select">
                                <mat-select formControlName="subject" panelClass="mt-common-select" [value]="newOrderForm.value.subject">
                                    <mat-option disabled><input class="mt-search-input" type="text" placeholder="Search"></mat-option>
                                    <mat-optgroup label="Most Popular">
                                        <mat-option 
                                        *ngFor="let list of pSubjects" 
                                        (click)="patchSubject(list)"
                                        [value]="list.id">{{list.subject_name}}</mat-option>
                                    </mat-optgroup>
                                    <mat-optgroup label="Others">
                                        <mat-option 
                                        *ngFor="let list of oSubjects" 
                                        (click)="patchSubject(list)"
                                        [value]="list.id">{{list.subject_name}}</mat-option>
                                    </mat-optgroup>
                                </mat-select>
                                <span matSufix><div class="sprites-icons dd-icon"></div></span>
                            </mat-form-field>
                        </span>
                    </section>
                    <!-- only appears when other options is selected -->
                    <section class="sec-other-order-wrap" *ngIf="newOrderForm.value.subject==49 && newOrderForm.value.paper != 127">
                        <span class="fill-space">
                            <p class="p-order-label">Other Subject</p>
                        </span>
                        <span class="spn-input-wrap">
                            <input matInput class="inp-writers-choice" type="text"  required placeholder="Type your Subject" formControlName="other_subject" [value]="newOrderForm.value.other_subject">
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-timezone">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Timezone</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip5="matTooltip" (click)="tooltip5.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[4]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Timezone Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap">
                            <mat-form-field appearance="fill" class="mfl-common-select">
                                <mat-select  formControlName="timezone" panelClass="mt-common-select" [value]="newOrderForm.value.timezone">
                                    <mat-option disabled><input class="mt-search-input" type="text" placeholder="Serach"></mat-option>
                                    <mat-option 
                                        *ngFor="let list of timezones" 
                                        [value]="list.timezone">{{list.name}}</mat-option>
                                </mat-select>
                                <span matSufix><div class="sprites-icons dd-icon"></div></span>
                            </mat-form-field>
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-deadline">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Deadline</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip6="matTooltip" (click)="tooltip6.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[5]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Deadline Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap" >
                            <mat-button-toggle-group class="mbtg-common-style deadline-wrap deadline-web" required [value]="deadline_value">
                                <mat-button-toggle 
                                *ngFor="let list of allDeadlines; let i = index" 
                                class="fill-space deadline{{i}}"
                                (click)="patchDeadline(list)"
                                [value]="i">
                                <p class="p-dl">{{list.deadline}}</p>
                                <p class="p-du" [style.color]="list.duration == 'Hours' ? '#D0555A' : null">{{list.duration}}</p>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-button-toggle-group class="mbtg-common-style deadline-wrap deadline-mobile" required [value]="deadline_value">
                                <mat-button-toggle 
                                *ngFor="let list of allDeadlines; let i = index" 
                                class="fill-space deadline{{i}}"
                                (click)="patchDeadline(list)"
                                [value]="i">
                                <p class="p-dl">{{list.deadline}}</p>
                                <p class="p-du" [style.color]="list.duration == 'Hours' ? '#D0555A' : null">{{list.duration}}</p>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                            <label class="lbl-common-style" for="deadline">Order will be ready before {{deadlineFormat}}</label>
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-pages" *ngIf="newOrderForm.value.paper != 127">
                        <span class="fill-space">
                            <p class="p-order-label" *ngIf="isPageDisabled && _session.isTokenExisting('user_token')">Slides</p>
                            <p class="p-order-label" *ngIf="!(isPageDisabled && _session.isTokenExisting('user_token'))">
                                <span class="fill-space">Pages</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip7="matTooltip" (click)="tooltip7.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[6]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Page Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap">
                            <div class="pages-option-wrap">
                                <span class="spn-page-counter">
                                    <div [ngClass]="{'disabled-style':isPageDisabled && !_session.isTokenExisting('user_token')}" *ngIf="!(isPageDisabled && _session.isTokenExisting('user_token'))">
                                        <button [disabled]="isPageDisabled && !_session.isTokenExisting('user_token')" (click)="decPage()" class="fill-space" type="button" mat-button>
                                            <div class="sprites-icons dec-icon"></div>
                                        </button>
                                        <input formControlName="page" class="fill-space" type="number" required [value]="newOrderForm.value.page">
                                        <button [disabled]="isPageDisabled && !_session.isTokenExisting('user_token')" (click)="incPage()" class="fill-space" type="button" mat-button>
                                            <div class="sprites-icons inc-icon"></div>
                                        </button>
                                    </div>
                                    <div [ngClass]="{'disabled-style':isPageDisabled && !_session.isTokenExisting('user_token')}" *ngIf="isPageDisabled && _session.isTokenExisting('user_token')">
                                        <button [disabled]="isPageDisabled && !_session.isTokenExisting('user_token')" (click)="decSlides()" class="fill-space" type="button" mat-button>-</button>
                                        <input formControlName="slide" class="fill-space" type="number" required [value]="newOrderForm.value.page">
                                        <button [disabled]="isPageDisabled && !_session.isTokenExisting('user_token')" (click)="incSlides()" class="fill-space" type="button" mat-button>+</button>
                                    </div>
                                </span>
                                <span class="fill-space"></span>
                                <span class="spn-space-counter">
                                    <mat-form-field appearance="fill" class="mfl-common-select">
                                        <mat-select panelClass="mt-common-select" formControlName="set_spacing" [value]="newOrderForm.value.set_spacing">
                                            <mat-option [value]="2">Single Spaced</mat-option>
                                            <mat-option [value]="1">Double Spaced</mat-option>
                                        </mat-select>
                                        <span matSufix><div class="sprites-icons dd-icon"></div></span>
                                    </mat-form-field>
                                </span>
                            </div>
                            <label class="lbl-common-style" for="pages">{{word_count}} Word(s)</label>
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-topic">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Topic</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip8="matTooltip" (click)="tooltip8.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[7]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Topic Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap">
                            <input matInput class="inp-writers-choice" type="text" formControlName="topic" required [value]="newOrderForm.value.topic" required>
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-details" *ngIf="newOrderForm.value.paper != 127">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Details</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip9="matTooltip" (click)="tooltip9.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[8]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Topic Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-text-wrap">
                            <textarea matInput formControlName="add_detail" required value="newOrderForm.value.add_detail" placeholder="You can include paper structure and/or outline, types and number of references to be used, grading scale or any other requirements…"></textarea>
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-upload">
                        <span class="fill-space">
                            <p class="p-order-label">
                                <span class="fill-space">Upload</span>
                                <button class="material-icons btn-tooltip"
                                type="button"
                                #tooltip10="matTooltip" (click)="tooltip10.toggle()"
                                mat-flat-button
                                [disableRipple]="true"
                                [matTooltip]="tooltip[9]"
                                matTooltipPosition="right"
                                matTooltipClass="tooltip-wrap"
                                aria-label="Upload Tooltip">error_outline</button>
                            </p>
                        </span>
                        <span class="spn-input-wrap">
                            <button class="btn-upload" mat-flat-button type="button" (click)="_dialog_trigger.openUploadDialog(getOrderId())">Upload files/ photo</button>
                        </span>
                    </section>
                    <section class="sec-order-wrap sec-file-pending" *ngIf="!_session.isTokenExisting('uploaded_token')">
                        <span class="fill-space"></span>
                        <span class="spn-input-wrap">
                            <table>
                                <thead>
                                    <tr>
                                        <th>File</th>
                                        <th>Size</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of fileQueue">
                                        <td>{{item.file_name1}}</td>
                                        <td>{{item.file_size/1024/1024 | number:'.2' }} MB</td>
                                        <td><button class="btn-remove-file" type="button" mat-flat-button (click)="deleteFile(item.file_name)">Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </span>
                    </section>
        
                    <!-- lower portion is hidden when user is not logged in -->
                    <mat-accordion class="ma-order-options" *ngIf="isUserActive && newOrderForm.value.paper != 127">
                        <mat-expansion-panel hideToggle (opened)="panelOptionalState=true" (closed)="panelOptionalState=false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span [innerHtml]="panelOptionalState?'Hide':'Show'"></span> more options ( optional )
                                </mat-panel-title>
                            </mat-expansion-panel-header>
        
                            <section class="sec-order-wrap sec-format-style">
                                <span class="fill-space">
                                    <p class="p-order-label">
                                        <span class="fill-space">Format / Style</span>
                                        <button class="material-icons btn-tooltip"
                                        type="button"
                                        #tooltip11="matTooltip" (click)="tooltip11.toggle()"
                                        mat-flat-button
                                        [disableRipple]="true"
                                        [matTooltip]="tooltip[10]"
                                        matTooltipPosition="right"
                                        matTooltipClass="tooltip-wrap"
                                        aria-label="Format Tooltip">error_outline</button>
                                    </p>
                                </span>
                                <span class="spn-input-wrap">
                                    <mat-button-toggle-group formControlName="formated_style" class="mbtg-common-style mbtg-format-style" [value]="newOrderForm.value.formated_style">
                                        <mat-button-toggle 
                                        *ngFor="let list of formatStyles"
                                        class="tri-btn-toggle" 
                                        (click)="patchFormat(list.style_id)"
                                        [value]="list.style_id">{{list.style_name}}</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </span>
                            </section>
                            <!-- only appears when other options is selected -->
                            <section class="sec-other-order-wrap" *ngIf="newOrderForm.value.formated_style==5">
                                <span class="fill-space">
                                    <p class="p-order-label">Other Format / Style</p>
                                </span>
                                <span class="spn-input-wrap">
                                    <input matInput class="inp-writers-choice" type="text" required placeholder="Type your Format / Style" required formControlName="other_format" [value]="newOrderForm.value.other_format">
                                </span>
                            </section>
                            <section class="sec-order-wrap sec-discipline">
                                <span class="fill-space">
                                    <p class="p-order-label">
                                        <span class="fill-space">Discipline</span>
                                        <button class="material-icons btn-tooltip"
                                        type="button"
                                        #tooltip12="matTooltip" (click)="tooltip12.toggle()"
                                        mat-flat-button
                                        [disableRipple]="true"
                                        [matTooltip]="tooltip[11]"
                                        matTooltipPosition="right"
                                        matTooltipClass="tooltip-wrap"
                                        aria-label="Discipline Tooltip">error_outline</button>
                                    </p>
                                </span>
                                <span class="spn-input-wrap">
                                    <mat-button-toggle-group formControlName="discipline" class="mbtg-common-style" [value]="newOrderForm.value.discipline">
                                        <mat-button-toggle 
                                        *ngFor="let list of allDiscipline"
                                        class="tri-btn-toggle" 
                                        [value]="list.discipline_id">{{list.discipline}}</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </span>
                            </section>
                            <section class="sec-order-wrap sec-pref-writer">
                                <span class="fill-space">
                                    <p class="p-order-label">
                                        <span class="fill-space">Preferred Writer</span>
                                        <button class="material-icons btn-tooltip"
                                        type="button"
                                        #tooltip13="matTooltip" (click)="tooltip13.toggle()"
                                        mat-flat-button
                                        [disableRipple]="true"
                                        [matTooltip]="tooltip[12]"
                                        matTooltipPosition="right"
                                        matTooltipClass="tooltip-wrap"
                                        aria-label="Preferred Writer Tooltip">error_outline</button>
                                    </p>
                                </span>
                                <span class="spn-input-wrap">
                                    <mat-button-toggle-group class="mbtg-common-style" formControlName="preferred_writer" [value]="newOrderForm.value.preferred_writer">
                                        <mat-button-toggle class="tri-btn-toggle" (click)="patchWriter(1)" value="any_writer">Any Writer <span class="spn-price-color">(Free)</span></mat-button-toggle>
                                        <mat-button-toggle class="tri-btn-toggle" (click)="patchWriter(2)" value="top_10_writer">Top 10 Writers <span class="spn-price-color">(+25%)</span></mat-button-toggle>
                                        <mat-button-toggle class="tri-btn-toggle" (click)="patchWriter(3)" value="my_previous_writer">Preferred Writer</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </span>
                            </section>
                            <!-- only appears when other options is selected -->
                            <section class="sec-other-order-wrap" *ngIf="newOrderForm.value.preferred_writer == 'my_previous_writer'">
                                <span class="fill-space">
                                    <p class="p-order-label">Preferred Writer</p>
                                </span>
                                <span class="spn-input-wrap">
                                    <mat-form-field appearance="fill" class="mfl-common-select">
                                        <!-- <mat-select panelClass="mt-common-select" formControlName="writer_id" value="(newOrderForm.value.preferred_writer == 'my_previous_writer')?'W85':''"> -->
                                        <mat-select panelClass="mt-common-select" formControlName="writer_id" value="newOrderForm.value.writer_id">
                                            <mat-option disabled><input class="mt-search-input" type="text" placeholder="Search"></mat-option>
                                            <mat-optgroup label="Old Writers" *ngIf="isUserActive">
                                                <mat-option *ngFor="let list of oldWriters" [value]="list.writer">{{list.writer}}</mat-option>
                                            </mat-optgroup>
                                            <mat-optgroup label="Top 10 Writers">
                                                <mat-option
                                                *ngFor="let list of topWriters"
                                                [value]="list.user_name">{{list.user_name}}</mat-option>
                                            </mat-optgroup>
                                            <mat-optgroup label="Other Writers">
                                                <mat-option
                                                *ngFor="let list of otherWriters"
                                                [value]="list.writer">{{list.writer}}</mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                        <span matSufix><div class="sprites-icons dd-icon"></div></span>
                                    </mat-form-field>
                                </span>
                            </section>
                            <section class="sec-other-option">
                                <span class="spn-other-option">
                                    <section class="sec-other-option-inner">
                                        <span class="fill-space">
                                            <p class="p-options-label">
                                                <button class="material-icons btn-tooltip"
                                                type="button"
                                                #tooltip14="matTooltip" (click)="tooltip14.toggle()"
                                                mat-icon-button
                                                [disableRipple]="true"
                                                [matTooltip]="tooltip[13]"
                                                matTooltipPosition="right"
                                                matTooltipClass="tooltip-wrap"
                                                aria-label="Sources Tooltip">error_outline</button>
                                                Sources <span>(Free)</span>
                                            </p>
                                        </span>
                                        <span class="spn-select-total">
                                            <div>
                                                <button (click)="decSource()" class="fill-space" type="button" mat-button>
                                                    <div class="sprites-icons dec-icon"></div>
                                                </button>
                                                <input type="number" formControlName="source" [value]="newOrderForm.value.source" class="inp-inner">
                                                <button (click)="incSource()" class="fill-space" type="button" mat-button>
                                                    <div class="sprites-icons inc-icon"></div>
                                                </button>
                                            </div>
                                        </span>
                                    </section>
                                    <section class="sec-other-option-inner">
                                        <span class="fill-space">
                                            <p class="p-options-label">
                                                <button class="material-icons btn-tooltip"
                                                type="button"
                                                #tooltip15="matTooltip" (click)="tooltip15.toggle()"
                                                mat-icon-button
                                                [disableRipple]="true"
                                                [matTooltip]="tooltip[14]"
                                                matTooltipPosition="right"
                                                matTooltipClass="tooltip-wrap"
                                                aria-label="Charts Tooltip">error_outline</button>
                                                Charts</p>
                                        </span>
                                        <span class="spn-select-total">
                                            <div>
                                                <button (click)="decCharts()" class="fill-space" type="button" mat-button>
                                                    <div class="sprites-icons dec-icon"></div>
                                                </button>
                                                <input type="number" formControlName="chart" [value]="newOrderForm.value.chart" class="inp-inner">
                                                <button (click)="incCharts()" class="fill-space" type="button" mat-button>
                                                    <div class="sprites-icons inc-icon"></div>
                                                </button>
                                            </div>
                                        </span>
                                    </section>
                                    <section class="sec-other-option-inner">
                                        <span class="fill-space">
                                            <p class="p-options-label">
                                                <button class="material-icons btn-tooltip"
                                                type="button"
                                                #tooltip16="matTooltip" (click)="tooltip16.toggle()"
                                                mat-icon-button
                                                [disableRipple]="true"
                                                [matTooltip]="tooltip[15]"
                                                matTooltipPosition="right"
                                                matTooltipClass="tooltip-wrap"
                                                aria-label="PowerPoint Slides Tooltip">error_outline</button>
                                                PowerPoint Slides</p>
                                        </span>
                                        <span class="spn-select-total">
                                            <div>
                                                <button (click)="decSlides()" class="fill-space" type="button" mat-button>
                                                    <div class="sprites-icons dec-icon"></div>
                                                </button>
                                                <input type="number" formControlName="slide" [value]="newOrderForm.value.slide" class="inp-inner" [required]="isPageDisabled">
                                                <button (click)="incSlides()" class="fill-space" type="button" mat-button>
                                                    <div class="sprites-icons inc-icon"></div>
                                                </button>
                                            </div>
                                        </span>
                                    </section>
                                </span>
                                <span class="fill-space"></span>
                                <span class="spn-other-option" formControlGroup="additionalextra">
                                    <section class="sec-other-option-inner sec-toggle" (click)="toggleExtras(5)">
                                        <span class="fill-space">
                                            <p class="p-options-label">
                                                <button class="material-icons btn-tooltip"
                                                type="button"
                                                #tooltip17="matTooltip" (click)="tooltip17.toggle()"
                                                mat-icon-button
                                                [disableRipple]="true"
                                                [matTooltip]="tooltip[16]"
                                                matTooltipPosition="right"
                                                matTooltipClass="tooltip-wrap"
                                                [disableRipple]="true"
                                                aria-label="Turnitin Plagiarism Tooltip">error_outline</button>
                                                Turnitin Plagiarism Report <span class="spn-price-color">({{turnitinPrice}})</span></p>
                                        </span>
                                        <span class="spn-toggle-option">
                                            <button type="button" [ngClass]="{'is-active':isPlagiarismActive}" mat-mini-fab class="btn-toggle-option"></button>
                                        </span>
                                    </section>
                                    <section class="sec-other-option-inner sec-toggle" (click)="toggleExtras(6)">
                                        <span class="fill-space">
                                            <p class="p-options-label">
                                                <button class="material-icons btn-tooltip"
                                                type="button"
                                                #tooltip18="matTooltip" (click)="tooltip18.toggle()"
                                                mat-icon-button
                                                [disableRipple]="true"
                                                [matTooltip]="tooltip[17]"
                                                matTooltipPosition="right"
                                                matTooltipClass="tooltip-wrap"
                                                [disableRipple]="true"
                                                aria-label="abstract page tooltip">error_outline</button>
                                                Abstract Page <span class="spn-price-color">({{abstractPageprice}})</span></p>
                                        </span>
                                        <span class="spn-toggle-option">
                                            <button type="button" [ngClass]="{'is-active':isAbstractActive}" mat-mini-fab class="btn-toggle-option"></button>
                                        </span>
                                    </section>
                                    <section class="sec-other-option-inner sec-toggle" (click)="toggleExtras(7)">
                                        <span class="fill-space">
                                            <p class="p-options-label">
                                                <button class="material-icons btn-tooltip"
                                                type="button"
                                                #tooltip19="matTooltip" (click)="tooltip19.toggle()"
                                                mat-icon-button
                                                [disableRipple]="true"
                                                [matTooltip]="tooltip[18]"
                                                matTooltipPosition="right"
                                                matTooltipClass="tooltip-wrap"
                                                [disableRipple]="true"
                                                aria-label="send to mail tooltip">error_outline</button>
                                                Send it to my E-Mail <span class="spn-price-color">({{sendEmailPrice}})</span></p>
                                        </span>
                                        <span class="spn-toggle-option">
                                            <button type="button" [ngClass]="{'is-active':isEmailActive}" mat-mini-fab class="btn-toggle-option"></button>
                                        </span>
                                    </section>
                                </span>
                            </section>
                            
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </span>
            <span class="fill-space" style="padding:5px"></span>
            <span class="spn-new-order-output">
                <app-new-order-output
                    (openCouponDialog)="openCouponDialog()"
                    [isUserOnline]="isUserActive"
                    [total_price]="total_price"
                    [price_saved]="price_saved"
                    [order_data]="newOrderForm.value"
                    [order_output]="orderOutput.value"
                    [plagiarism]="isPlagiarismActive"
                    [abstract]="isAbstractActive"
                    [email]="isEmailActive"
                    [in_top10]="in_top10"
                    [page_cost]="page_cost"
                    [slide_cost]="slide_cost"
                    [chart_cost]="chart_cost"
                    [plagiarism_cost]="plagiarism_cost"
                    [abstract_cost]="abstract_cost"
                    [email_cost]="email_cost"
                    [disableSaving]="disableSaving"
                    >
                </app-new-order-output>
            </span>

        </mat-toolbar-row>
    </mat-toolbar>
</form>