.sec-payment-nav {
    display: flex;
    max-width: 450px;
    margin: 22px auto;
}
.btn-back {
    border-radius: 60px;
    background-color: #FFFFFF;
    padding: 5px 22px;
    box-shadow: 0 2px 4px 0 rgb(64 85 196 / 14%);
    color: #111111;
    font-family: "SF Pro Text Regular";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
}
.pay-order-wrap {
    display: block;
    padding: 30px 15px;
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
.mtb-pay-order {
    width: 100%;
}
.mtb-pay-order .mat-tab-label:first-child {
    background: transparent url('https://d3se3mk07n7blr.cloudfront.net/assets/img/co-master-card.png') no-repeat center center;
    background-size: 70px;
    opacity: 1;
}
.mtb-pay-order .mat-tab-label:last-child {
    background: transparent url('https://d3se3mk07n7blr.cloudfront.net/assets/img/co-paypal.png') no-repeat center center;
    background-size: 70px;
    opacity: 1;
}
.mtb-pay-order .mat-tab-label {
    width: 100%;
    height: 45px;
}
.mtb-pay-order .mat-tab-label.mat-tab-label-active {
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.mtb-pay-order .mat-tab-nav-bar, .mtb-pay-order .mat-tab-header {
    border-bottom: 0;
    margin-bottom: 20px;
}
.mtb-pay-order .mat-tab-header .mat-tab-labels {
    padding: 10px;
}
.mtb-pay-order .mat-ink-bar {
    display: none;
}
.btn-submit-payment {
    height: 45px;
    width: 100%;
    border-radius: 30px;
    background-color: #1A62F5;
    color: #FFFFFF;
    font-family: "SF Pro Text Bold";
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 19px;
    text-align: center;
}
.mrb-agreement {
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    padding: 0;
    text-align: center;
    display: block;
}
.mrb-agreement label {
    white-space: normal;
    display: block;
}
.mrb-agreement a {
    line-height: 20px;
    padding: 0 2px;
    color: #3B7CFF;
}

@media screen and (max-width:768px) {
    .mtr-file-container {
        display: block;
    }
    .sec-payment-nav {
      display: block;
    }
    .sec-payment-nav {
      padding: 0 15px;
    }
}