<section class="width1220px sec-services-slide-outer">
    <mat-toolbar>
        <mat-toolbar-row class="common-sub-header">
            <h2>Our Services</h2>
        </mat-toolbar-row>
    </mat-toolbar>
    <owl-carousel-o [options]="servicesOption" #owlServices class="oco-services-link">
        <ng-template carouselSlide *ngFor="let list of services">
            <div class="services-item-outer">
                <div class="services-item-wrap">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let item of list.set">
                            <span class="material-icons">keyboard_arrow_right</span>
                            <a (click)="toServices(item.link)" mat-flat-button>{{item.service}}</a>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>
<section class="default-width sec-contact-me-wrap">
    <mat-toolbar class="mt-contact-me">
        <app-common-progress-bar *ngIf="isProgressLoading"></app-common-progress-bar>
        <mat-toolbar-row class="mtr-contact-me">
            <form (ngSubmit)="submitEmail()" [formGroup]="frmContact" class="frm-contact-me">
                <span>
                    <h3>Contact Us!</h3>
                    <label for="inp-contact-us">Tell us your Email address and we will reply you within 1 hour</label>
                </span>
                <span class="fill-space"></span>
                <span>
                    <div class="contact-input-wrap">
                        <input id="inp-contact-us" name="contact-info" type="text" class="fill-space" placeholder="you@example.com" formControlName="email">
                        <button type="submit" class="fill-space" mat-flat-button>Contact Me</button>
                    </div>
                </span>
            </form>
        </mat-toolbar-row>
    </mat-toolbar>
</section>