<section class="width1220px sec-services-slide-outer">
    <span class="spn-slider-nav">
        <button mat-flat-button class="btn-hg-nav" type="button" (click)="owlServices.prev()">
            <span class="material-icons">keyboard_arrow_left</span>
        </button>
    </span>
    <span class="fill-space">
        <section class="width1000 sec-services-slide">
        <owl-carousel-o class="owl-services" [options]="servicesOption" #owlServices>
            <ng-template carouselSlide *ngFor="let list of services">
                <div class="services-item-wrap">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let item of list.set">
                            <span class="material-icons">keyboard_arrow_right</span>
                            {{item.service}}
                        </mat-list-item>
                    </mat-list>
                </div>
            </ng-template>
        </owl-carousel-o>
    </section>
    </span>
    <span class="spn-slider-nav">
        <button mat-flat-button class="btn-hg-nav" type="button" (click)="owlServices.next()">
            <span class="material-icons">keyboard_arrow_right</span>
        </button>
    </span>
</section>
<section class="default-width sec-contact-me-wrap">
    <mat-toolbar class="mt-contact-me">
        <mat-toolbar-row class="mtr-contact-me">
            <form action="" class="frm-contact-me">
                <span>
                    <h5>Contact Us!</h5>
                    <p>Tell us your phone number or Email and we will reply you within 1 hour</p>
                </span>
                <span class="fill-space"></span>
                <span>
                    <div class="contact-input-wrap">
                        <input type="text" class="fill-space" placeholder="Email or Contact number">
                        <button type="button" class="fill-space" mat-flat-button>Contact Me</button>
                    </div>
                </span>
            </form>
        </mat-toolbar-row>
    </mat-toolbar>
</section>