<mat-toolbar>
    <mat-toolbar-row class="mtr-order-number">
        <span>Order Number</span>
        <span class="fill-space"></span>
        <span>78444</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-common-details padding15">
        <span>Order Date</span>
        <span class="fill-space"></span>
        <span>order date</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-common-details padding15">
        <span>Order Deadline</span>
        <span class="fill-space"></span>
        <span>order deadline</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-common-details padding15">
        <span>Sales ID: <span class="spn-order-detail-label">PayPal</span></span>
        <span class="fill-space"></span>
        <span class="spn-order-detail-label">55656566556654</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-common-details padding3">
        <span>Subtotal</span>
        <span class="fill-space"></span>
        <span>$ 1911</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-common-details padding3">
        <span>Discount <span class="spn-order-detail-label">PayPal</span></span>
        <span class="fill-space"></span>
        <span>$ 1911</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-common-details padding3">
        <span>Redeem</span>
        <span class="fill-space"></span>
        <span>$ 1911</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-total-details">
        <span>Total</span>
        <span class="fill-space"></span>
        <span>$ 105.00</span>
    </mat-toolbar-row>
</mat-toolbar>