.hiw-video-wrap {
    height: 401px;
    width: 100%;
    max-width: 600px;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    margin: 0 auto 105px auto;
}
.hiw-video-wrap iframe {
    height: 100%;
    width: 100%;
}
.padding120 {
    padding: 120px 0 86px 0;
}