<section class="default-width">
    <mat-toolbar class="mt-maintenance-page">
        <mat-toolbar-row>
            <h1>OUR WEBSITE IS TEMPORARY OFFLINE</h1>
            <p>This site is down for maintenance. Please check again soon</p>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="false">
            <button aria-label="contact support button" mat-flat-button>Contact Support</button>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-img-maintenance">
            <div class="sprite-cheapest-2 img-maintenance"></div>
        </mat-toolbar-row>
    </mat-toolbar>
</section>