<mat-toolbar color="primary">
    <mat-toolbar-row class="mtr-upload-header">
        <h1>Upload Files</h1>
        <p>Note: Closing this dialog will remove all of your pending uploads. Maximum size for each file is 20MB</p>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <form class="frm-upload-mat">
            <!-- <div ng2FileDrop
                [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                (fileOver)="fileOverBase($event)"
                [uploader]="uploader"
                class="well my-drop-zone">
                Base drop zone
            </div> -->
        </form>
    </mat-toolbar-row>
</mat-toolbar>