<section class="width1000 sec-level">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h1>Life-Time Discount</h1>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <p class="p-description">Get Cash Back, VIP support, Best writers, Free Plagiarism Report & more… <a href="#">Terms of use</a></p>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="fill-space">
                <p class="p-badge-label" [style.visibility]="currentLevel === 'Blue' ? 'visible' : 'null'">I'm Here</p>
                <div class="level-badge-wrap">
                    <div class="sprites-icons blue-label"></div>
                    <p class="p-level-description blue">Blue</p>
                </div>
            </span>
            <span class="fill-space">
                <p class="p-badge-label" [style.visibility]="currentLevel === 'Silver' ? 'visible' : 'null'">I'm Here</p>
                <div class="level-badge-wrap">
                    <div class="sprites-icons silver-label"></div>
                    <p class="p-level-description silver">Silver</p>
                </div>
            </span>
            <span class="fill-space">
                <p class="p-badge-label" [style.visibility]="currentLevel === 'Gold' ? 'visible' : 'null'">I'm Here</p>
                <div class="level-badge-wrap">
                    <div class="sprites-icons gold-label"></div>
                    <p class="p-level-description gold">Gold</p>
                </div>
            </span>
            <span class="fill-space">
                <p class="p-badge-label" [style.visibility]="currentLevel === 'VIP' ? 'visible' : 'null'">I'm Here</p>
                <div class="level-badge-wrap">
                    <div class="sprites-icons vip-label"></div>
                    <p class="p-level-description vip">VIP</p>
                </div>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-level-progress">
            <div class="level-bar-wrap">
                <span class="fill-space spn-progress-points">{{minimumVal}}</span>
                <span class="spn-progress-bar">
                    <mat-progress-bar mode="determinate" [value]="percentageVal"></mat-progress-bar>
                </span>
                <span class="fill-space spn-progress-points">{{maximumVal}}</span>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <p *ngIf="(percentageVal != 100)" class="p-level-gap">${{remainingVal}} away from <span>{{getNextLevel(currentLevel)}}</span> member</p>
            <p *ngIf="(percentageVal == 100)" class="p-level-gap">You have reached the maximum level of membership. </p>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <a mat-button class="a-see-howitworks" (click)="openDialog()">See How it Works</a>
        </mat-toolbar-row>
    </mat-toolbar>
</section>