<section class="width1000 sec-order-nav">
    <span class="fill-space"></span>
    <span>
        <!-- <mat-form-field appearance="fill" class="mfl-common-select">
            <mat-select [formControl]="selected" [value]="selected.value" panelClass="mt-common-select" (selectionChange)="applyFilter(selected.value)">
                <mat-option *ngFor="let list of filter" [value]="list.value">{{list.viewValue}}</mat-option>
            </mat-select>
        </mat-form-field> -->
        <mat-form-field class="mff-order-filter">
            <mat-label>Search...</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Completed" #input>
        </mat-form-field>
    </span>
</section>
<section class="width1000 sec-orders">
    <app-common-progress-bar *ngIf="isProgressLoading"></app-common-progress-bar>

    <div class="no-orders-wrap" *ngIf="isEmpty">
        <h3>No available orders</h3>
        <button type="button" mat-flat-button routerLink="/order">Order Now</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 tbl-my-orders w-tbl-orders" *ngIf="!isEmpty">
        
        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button type="button" (click)="_dialogTrigger.openDeleteDialog(element.order_id)" *ngIf="element.payment_status == 0" mat-mini-fab class="btn-delete-order-wrap">
                    <div class="sprites-icons btn-delete-order"></div>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="order_id">
            <th mat-header-cell *matHeaderCellDef>Order Id</th>
            <td mat-cell *matCellDef="let element"> <span class="spn-order-id">{{element.order_no_custom}}</span> </td>
        </ng-container>
        <ng-container matColumnDef="date_added">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.date_added}} </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element"><span class="spn-price">${{element.total}}</span> </td>
        </ng-container>
        <ng-container matColumnDef="pages">
            <th mat-header-cell *matHeaderCellDef>Page</th>
            <td mat-cell *matCellDef="let element"> <span class="spn-pages">{{element.pages}} <span *ngIf="element.service_id == 2">Slide(s)</span></span> </td>
        </ng-container>
        <ng-container matColumnDef="topic">
            <th mat-header-cell *matHeaderCellDef>Topic</th>
            <td mat-cell *matCellDef="let element"> <span class="spn-topic">{{element.topic}}</span> </td>
        </ng-container>
        <ng-container matColumnDef="order_status">
            <th mat-header-cell *matHeaderCellDef>Order Status</th>
            <td mat-cell *matCellDef="let element">
                <span class="spn-order-status" 
                [style.background-color]="getOrderStatusDisplay(element.order_status_description_id,element.payment_status)">
                    <span *ngIf="!timer_status">{{element.status_name}}</span>
                    <span *ngIf="timer_status">{{setTimer(element.order_date, element.days, element.hours, element.minutes, element.seconds)}}</span>
                    <!-- <span *ngIf="timer_status">pending</span> -->
                    <!-- <span *ngIf="timer_status">{{element.formatted_date}}</span> -->
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="deadline">
            <th mat-header-cell *matHeaderCellDef>Deadline</th>
            <td mat-cell *matCellDef="let element"> {{element.deadline}} {{element.duration}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button class="btn-action" mat-flat-button *ngIf="element.payment_status == 0" type="button" (click)="payOrder(element.order_id)">Pay</button>
                <span class="spn-action" *ngIf="element.payment_status != 0">Paid</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="open">
            <th mat-header-cell *matHeaderCellDef>Open</th>
            <td mat-cell *matCellDef="let element"> <button type="button" [value]="element.order_id" [routerLink]="['/my-orders/order-details', element.order_id]" mat-button class="btn-open">View</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- mobile design -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 tbl-my-orders m-tbl-orders" *ngIf="!isEmpty">
        
        <ng-container matColumnDef="order_id">
            <th mat-header-cell *matHeaderCellDef>Order Id</th>
            <td mat-cell *matCellDef="let element">
                <div class="m-cell-wrap">
                    <span>
                        <span class="m-spn-order-id">{{element.order_no_custom}}</span>
                        <p class="m-p-date-added">{{element.date_added}}</p>
                        <div class="m-timer-bg" [style.background-color]="getOrderStatusDisplay(element.order_status_description_id,element.payment_status)">
                            <span *ngIf="!timer_status">{{element.status_name}}</span>
                            <span *ngIf="timer_status">{{setTimer(element.order_date, element.days, element.hours, element.minutes, element.seconds)}}</span>
                        </div>
                    </span>
                    <span class="fill-space"></span>
                    <span class="spn-m-total">${{element.total}}</span>
                    <span class="spn-m-view-order">
                        <button type="button" [value]="element.order_id" [routerLink]="['/my-orders/order-details', element.order_id]" mat-button class="btn-open">
                            <span class="material-icons">keyboard_arrow_right</span>
                        </button>
                    </span>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsM"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsM;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</section>