<app-common-subpages-header [data_index]="6"></app-common-subpages-header>

<section class="default-width margin-bottom70">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="common-sub-header"><h2>Privacy Policy</h2></mat-toolbar-row>
        <mat-toolbar-row class="mtr-info-body margin-bottom30">
            <h3>Introduction</h3>
            <p>Before using our Application, please, make sure that you carefully review all the below mentioned points of our Privacy Policy. The following rules explain the main principles according to which personal information of our Customers is processed.</p>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-info-body margin-bottom30">
            <h3>Information Collected When Placing Your Order</h3>
            <p>The information we need to you to provide may include:</p>
            <mat-list role="list" class="ml-info-body">
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">A)</span> Your name, billing address, e-mail and telephone number(s).</mat-list-item>
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">B)</span> Paper details of the order that you place on our website and information, necessary for order completion.</mat-list-item>
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">C)</span> Recorded Chat and phone conversations.</mat-list-item>
            </mat-list>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-info-body margin-bottom30">
            <h3>Information That You Provide When Filling In The Application Form</h3>
            <p>Anyone, who places an order on CheapestEssay.com, submits necessary details in an automatic order form. It includes time of access, type of device and location. We gather such information in order to implement improvements in our Service that will make it easier to use. We guarantee that this information will not be sold, shared or rented to any third parties.</p>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-info-body margin-bottom30">
            <h3>The Use Of Collected Information</h3>
            <p>As mentioned above, our Company never sells, rents or shares the acquired details to any third parties, they are only used in the following cases:</p>
            <mat-list role="list" class="ml-info-body">
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">A)</span> To provide you with the services that you wish to use.</mat-list-item>
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">B)</span> For internal record keeping, billing, accounting and market research purposes.</mat-list-item>
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">C)</span> To respond to any queries, complaints or requests for further information.</mat-list-item>
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">D)</span> To customize the content and/or layout of the Service.</mat-list-item>
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">E)</span> To notify you about important changes and alterations to the Service.</mat-list-item>
            </mat-list>
            <p>Except as set out above, we will not sell, distribute or disclose your Information without your consent, unless in occasions required or permitted by law, such as complying with a subpoena, or similar legal processes.</p>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-info-body margin-bottom30">
            <h3>User Account And Account Log</h3>
            <p>If you wish to change your personal information, or if you no longer wish to use our service, you may correct, update, amend, delete/remove or deactivate any details you provided by contacting our Customer Support Team via email or telephone number indicated on our Contact Us page.</p>
            <br>
            <p>We will retain your information for as long as your account is active or needed to provide you with our services. We will retain and use your details as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-info-body margin-bottom30">
            <h3>Plagiarism</h3>
            <mat-list role="list" class="ml-info-body">
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">A)</span> As a customer, you reserve the right to ask for a revision. Moreover, customer will get 100% refund if the level of plagiarism is higher than 10%. ( Note that the plagiarism level allowed by Our Company must be less than 10%.)</mat-list-item>
                <mat-list-item role="listitem"><span matPrefix class="spn-matprefix">B)</span> We don't guarantee plagiarism in Editing/ Proofreading orders! Because they might be plagiarism before you gave us. So we can't give a refund if your editing order is plagiarized.</mat-list-item>
            </mat-list>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-info-body margin-bottom30">
            <h3>Technical/Electronic Issues</h3>
            <p>CheapestEssay.com will not be held responsible for any delays in delivery that are a result of electronic failures, technical problems, of difficulties with the customer’s Internet provider or server. The Information you provide us with is stored on our secure servers. Where we have given you (or where you have chosen) a password which enables you to enter your account. You are responsible for keeping this password confidential and not disclosing it to any third parties. We follow generally accepted standards to protect the personal information of our Customers.</p>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-info-body">
            <h3>Amendments of the Privacy Policy</h3>
            <p>The conditions states in our Privacy Policy may change depending on the improvements we implement. It is strongly suggested that you constantly review these pages to be updated on the possible amendments.</p>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<div class="margin-bottom70">
    <app-common-additional-service></app-common-additional-service>
</div>

<!-- HOME COMMON SERVICE/CONTACT US -->
<app-common-services-slide></app-common-services-slide>

