<div class="diagonal-box margin-bottom100">
	<section class="width1120px sec-writer-flex">
        <mat-toolbar class="mt-writer-flex">
            <mat-toolbar-row>
                <span class="fill-space">
                    <h3>5000</h3>
                    <p>ESSAYS WRITTEN IN THE LAST 6 MONTHS</p>
                </span>
                <span class="fill-space">
                    <h3>500</h3>
                    <p>WRITERS ARE AVAILABLE ONLINE NOW</p>
                </span>
                <span class="fill-space">
                    <h3>4.8/5</h3>
                    <p>AVERAGE CUSTOMER SATISFACTION RATE</p>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </section>
</div>