<mat-toolbar class="mt-order-details-status">
    <mat-toolbar-row class="mtr-order-number-wrap margin-bottom12">
        <p class="p-order-details-common">Order Number</p>
        <h1>{{order_details.order_no_custom}}</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-order-status-wrap margin-bottom12">
        <p class="p-order-details-common">Time Left</p>
        <section class="add-common-flex sec-deadline-timer">
            <span class="fill-space" [innerHtml]="order_details.status.order_status_flag === 1 ? order_details.days : preventTimerDisplay(_timer.days)"></span>
            <span class="fill-space" [innerHtml]="order_details.status.order_status_flag === 1 ? order_details.hours : preventTimerDisplay(_timer.hours)"></span>
            <span class="fill-space" [innerHtml]="order_details.status.order_status_flag === 1 ? order_details.minutes : preventTimerDisplay(_timer.minutes)"></span>
            <span class="fill-space" [innerHtml]="order_details.status.order_status_flag === 1 ? order_details.seconds : preventTimerDisplay(_timer.seconds)"></span>
        </section>
        <section class="add-common-flex sec-deadline-timer margin-zero">
            <span class="fill-space"><span>Day</span></span>
            <span class="fill-space"><span>Hours</span></span>
            <span class="fill-space"><span>Mins</span></span>
            <span class="fill-space"><span>Sec</span></span>
        </section>
        <section class="add-common-flex" [style.margin-top]="!(isPaid()) ? '0' : '30px'">
            <p class="p-order-deadline" *ngIf="!(isPaid())">Deadline: {{order_details.deadlinedate}} If You Pay Right Now</p>
        </section>
        <section class="add-common-flex sec-order-details-btn">
            <button type="button" mat-flat-button class="margin-bottom18" [ngClass]="getPaymentStatusDisplay(order_details.status.order_status_flag)">{{order_details.status.order_status}}</button>
            <!-- <button type="button" mat-flat-button class="btn-pay-order" (click)="_trigger.openPayDialog(route.snapshot.paramMap.get('id'))" [ngClass]="{'paid':isPaid()}">{{getBtnPaymentDisplay()}} 
                <span *ngIf="!(isPaid())" class="spn-tot-order">{{order_details.payment.total}}</span>
            </button> -->
            <button type="button" mat-flat-button class="btn-pay-order" (click)="payOrder(route.snapshot.paramMap.get('id'))" [ngClass]="{'paid':isPaid()}">{{getBtnPaymentDisplay()}} 
                <span *ngIf="!(isPaid())" class="spn-tot-order">{{order_details.payment.total}}</span>
            </button>
        </section>
    </mat-toolbar-row>
    <mat-toolbar-row class="mtr-rate-order-wrap margin-bottom12" *ngIf="order_details.status.order_status == 'Completed'">
        <p>Rate Writer ID: <span></span></p>
        <div class="rate-writer-wrap">
            <button
            *ngFor="let list of rate"
            (click)="_trigger.openRateWriterDialog(order_details.order_id, list)"
            mat-flat-button
            class="fill-space btn-stars">
            <span class="material-icons">star_outline</span></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>