.mt-services {
    margin-top: 200px;
    margin-bottom: 150px;
    position: relative;
}
.spn-contain-services-banner h1 {
    white-space: normal;
    color: #111111;
    font-family: "SF Pro Text Bold";
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    margin: 0 0 16px 0;
}
.frm-services-form {
    width: 450px;
    padding: 25px;
    min-height: unset;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: 0 5px 13px 0 rgba(64,85,196,.14);
    display: block;
}
.panel-drop-style-service {
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 7px;
}
.panel-drop-style-service .mat-option {
    color: #000000 !important;
    background-color: #ffffff !important;
}
.panel-drop-style-service .mat-active {
    background-color: #12245A !important;
    color: #ffffff !important;
}
.mff-services {
    height: 36.62px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #111111;
    font-family: "SF Pro Text Regular";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 25px;
    padding: 0 13px 0 18px;
    margin-bottom: 15px;
}
.mff-services .mat-form-field-infix {
    border-top: 0 !important;
    padding: 0.6375em 0 !important;
}
.mff-services .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mff-services .mat-form-field-underline {
    display: none !important;
}
.mff-services .mat-select-arrow-wrapper {
    visibility: hidden !important;
}
.mff-services .dd-icon {
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, 75%);
    background-size: 1190px;
    background-position: -5px -65px;
}
.frm-services-form mat-form-field {
    display: block;
    padding: 0;
}
.frm-services-form .mat-form-field-flex {
    background: transparent !important;
    padding: 0 18px !important;
}
.frm-services-form .mat-form-field-wrapper {
    padding-bottom: 0;
    height: 36.62px;
    color: #111;
    font-family: "SF Pro Text Regular";
    font-size: 14px;
    line-height: 16px;
}
.frm-services-form .mat-form-field-underline {
    display: none;
}
.mff-email {
    background-color: #ffffff;
    border-radius: 7px;
}
.mff-email .mat-form-field-infix {
    border-top: 0.54375em solid transparent !important;
}
.panel-services-email {
    color: #000000;
    font-family: "SF Pro Text Regular";
    font-size: 18px;
    line-height: 24px;
    width: 100%;
}
.btn-submit-services {
    width: 100%;
    display: block;
    max-width: 211px;
    height: 37px;
    border-radius: 11px;
    background-color: #ffd500;
    color: #000000;
    margin: 30px auto 0 auto;
    font-family: "SF Pro Text Bold";
}
.mtr-services-contents {
    padding: 130px 20px 0 20px;
    display: block;
    text-align: center;
}
.mtr-services-contents p {
    line-height: 31px;
    font-size: 17px;
    font-family: "SF Pro Text Regular";
    color: #111111;
    white-space: normal;
    display: block;
}
.mtr-services-contents h2 {
    white-space: normal;
    font-size: 36px;
    font-family: "SF Pro Text Medium";
    font-weight: 600;
    color: #111;
    line-height: 45px;
    margin: 0 auto 25px;
    display: block;
}
.mt-services-contents {
    margin-bottom: 130px;
}