<app-common-subpages-header [data_index]="13" [has_img]="true"></app-common-subpages-header>

<section class="default-width margin-bottom70">
    <mat-toolbar>
        <mat-toolbar-row class="common-sub-header">
            <h2>Our Goal Is to Provide an Exceptional <br class="br-m-hidden">Writing Service</h2>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar>
        <mat-toolbar-row class="mtr-curved-wrap">
            <span>
                <div class="reviews-curved-wrap">
                    <div class="review-stat-wrap">
                        <span>
                            <p class="p-review">Over <br><span>13000</span></p>
                        </span>
                        <span class="fill-space"></span>
                        <span class="spn-rsw-wrap">
                            <div class="sprite-cheapest-2 rsw-img-content"></div>
                        </span>
                    </div>
                    <p class="p-review-label">Customer Reviews</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span>
                <div class="reviews-curved-wrap">
                    <div class="review-stat-wrap">
                        <span>
                            <p class="p-review"><span>4.9/5</span></p>
                        </span>
                        <span class="fill-space"></span>
                        <span class="spn-rsw-wrap">
                            <div class="sprite-cheapest-2 rsw-img-content1"></div>
                        </span>
                    </div>
                    <p class="p-review-label">Average Rating</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span>
                <div class="reviews-curved-wrap">
                    <div class="review-stat-wrap">
                        <span>
                            <p class="p-review"><span>10</span> <br>Years</p>
                        </span>
                        <span class="fill-space"></span>
                        <span class="spn-rsw-wrap">
                            <div class="sprite-cheapest-2 rsw-img-content2"></div>
                        </span>
                    </div>
                    <p class="p-review-label">of Writing Experiance</p>
                </div>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</section>

<section class="default-width margin-bottom70">
    <app-common-reviews></app-common-reviews>
</section>

<!-- <section class="default-width sec-review-feedbacks">
    <mat-toolbar class="mt-feedbacks">
        <mat-toolbar-row class="mtr-feedbacks">
            <h3>Check out the latest feedback from our customers</h3>
        </mat-toolbar-row>
    </mat-toolbar>
</section> -->

<div class="margin-bottom70">
    <app-common-additional-service></app-common-additional-service>
</div>

<!-- HOME COMMON SERVICE/CONTACT US -->
<app-common-services-slide></app-common-services-slide>