<section class="full-width">
    <div class="main-banner-background">
        <mat-toolbar class="mt-home-banner default-width">
            <mat-toolbar-row>
                <span class="fill-space spn-welcome-banner">
                    <div class="welcome-banner-wrap">
                        <section>
                            <h1>The #1 Cheapest Essay Writing Service in 2020</h1>
                            <h2>We Write your Essay Today!<br>
                                300+ Professional Writers, and over 7000 clients worldwide.
                                Hire Essay writer for any job online now!</h2>
                        </section>
                        <section>
                            <div class="banner-options-wrap">
                                <span><button mat-raised-button class="btn-wwd" routerLink="what-we-do">What we do?</button></span>
                                <span class="fill-space"></span>
                                <span *ngIf="isTokenExisting('user_token')"><button mat-raised-button class="btn-fq" routerLink="free-quote">Free Quote</button></span>
                            </div>
                        </section>
                    </div>
                </span>
                <span>
                    <app-common-banner-calculator [isHome]="true"></app-common-banner-calculator>
                </span>
            </mat-toolbar-row>
            <div class="sprite-cheapest home-banner-img"></div>
        </mat-toolbar>
        <!-- WEBSITE RATING -->
        <section class="default-width sec-web-rating">
            <app-common-reviews></app-common-reviews>
        </section>
    </div>
</section>
<!-- HOW IT WORKS SECTION -->
<section class="default-width sec-home-hiw">
    <mat-toolbar class="mt-home-hiw">
        <mat-toolbar-row class="common-sub-header"><h2>How it works</h2></mat-toolbar-row>
    </mat-toolbar>
</section>
<app-common-how-it-works></app-common-how-it-works>
<!-- WRITER FLEXING SECTION -->
<app-common-writer-flexing></app-common-writer-flexing>
<!-- COMPANY FLEXING SECTION -->
<app-common-company-flexing></app-common-company-flexing>
<!-- WRITING SERVICES SECTION -->
<section class="full-width sec-writing-services" id="sec-writing-services">
    <mat-toolbar class="mt-writing-services width1220px">
        <mat-toolbar-row class="common-sub-header">
            <h2>WHAT CAN WE WRITE FOR YOU</h2>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-ws-inner-upper">
            <span class="spn-service-home-contain">
                <div class="service-home-style">
                    <p><span class="material-icons">check_circle_outline</span>Essay</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span class="spn-service-home-contain">
                <div class="service-home-style">
                    <p><span class="material-icons">check_circle_outline</span>Research</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span class="spn-service-home-contain">
                <div class="service-home-style">
                    <p><span class="material-icons">check_circle_outline</span>Article</p>
                </div>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row class="mtr-ws-inner-lower">
            <span class="spn-service-home-contain">
                <div class="service-home-style">
                    <p><span class="material-icons">check_circle_outline</span>Case study</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span class="spn-service-home-contain">
                <div class="service-home-style">
                    <p><span class="material-icons">check_circle_outline</span>Resume</p>
                </div>
            </span>
            <span class="fill-space"></span>
            <span class="spn-service-home-contain">
                <div class="service-home-style">
                    <p><span class="material-icons">check_circle_outline</span>PowerPoint</p>
                </div>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-flat-button type="button" class="btn-show-services">Show all</button>
        </mat-toolbar-row>
    </mat-toolbar>
</section>
<!-- WEB CONTENTS SECTION  -->
<section class="default-width">
    <app-content-photo-info data_content="about_services"></app-content-photo-info>    
</section>
<!-- FIRST ORDER DISCOUNT SECTION -->
<div class="diagonal-box margin-bottom100">
    <div class="default-width revert-diagonal">
        <app-common-discount-banner></app-common-discount-banner>
    </div>
</div>
<!-- CLIENT REVIEWS SECTION -->
<app-common-client-reviews></app-common-client-reviews>
<!-- PAY WRITING SECTION -->
<section class="default-width sec-pro-writing margin-bottom70">
    <mat-toolbar>
        <mat-toolbar-row class="common-sub-header">
            <h2>PAY WRITING SERVICES SAFELY</h2>
        </mat-toolbar-row>
    </mat-toolbar>
    <app-content-photo-info data_content="pay_first_services" [has_header]="true"></app-content-photo-info>    
</section>
<!-- MONEY BACK GUARANTEE SECTION -->
<section class="default-width sec-pro-writing margin-bottom70">
    <mat-toolbar>
        <mat-toolbar-row class="common-sub-header">
            <h2>MONEY BACK GUARANTEE</h2>
        </mat-toolbar-row>
    </mat-toolbar>
    <app-content-photo-info data_content="money_back_guarantee" [has_header]="true"></app-content-photo-info> 
</section>
<!-- HOME CONTACT US SECTION -->
<div class="margin-bottom70">
    <app-common-additional-service></app-common-additional-service>
</div>
<!-- HOW DO WE DO IT SECTION -->
<section class="default-width sec-pro-writing margin-bottom70">
    <mat-toolbar>
        <mat-toolbar-row class="common-sub-header">
            <h2>HOW DO WE DO IT?</h2>
        </mat-toolbar-row>
    </mat-toolbar>
    <app-content-photo-info data_content="how_to_do" [left_first]="true"></app-content-photo-info>    
</section>
<!-- FIRST ORDER DISCOUNT SECTION -->
<div class="diagonal-box margin-bottom100">
    <div class="default-width revert-diagonal">
        <app-common-discount-banner [has_image]="true"></app-common-discount-banner>
    </div>
</div>
<!-- GUARANTEES HOME SECTION -->
<section class="default-width sec-home-guarantees">
    <mat-toolbar>
        <mat-toolbar-row class="mtr-home-guarantees common-sub-header">
            <h2>Guarantees</h2>
        </mat-toolbar-row>
    </mat-toolbar>
</section>
<div class="home-guarantee-wrap margin-bottom70">
    <app-common-guarantees></app-common-guarantees>
</div>
<!-- HOME FAQs SECTION -->
<app-common-faqs></app-common-faqs>
<!-- HOME COMMON SERVICE/CONTACT US -->
<app-common-services-slide></app-common-services-slide>

<!-- <section class="default-width sec-freequote-body" *ngIf="isTokenExisting('user_token')">
    <button mat-flat-button routerLink="free-quote" type="button" class="btn-freequote-body">Free Quote</button>
</section> -->