<section class="sec-order-details-nav">
    <span class="fill-space"></span>
    <span><button class="btn-back" routerLink="/my-orders" mat-button>Back</button></span>
</section>
<section class="sec-order-details">
    <app-common-progress-bar *ngIf="isProgressLoading"></app-common-progress-bar>
    <span class="spn-order-details-status">
        <app-common-order-details-status *ngIf="!isProgressLoading" [order_details]="order_details"></app-common-order-details-status>
    </span>
    <span class="fill-space "></span>
    <span class="spn-order-details-wrap">
        <section class="sec-order-details-wrap" *ngIf="!isProgressLoading">
            <mat-tab-group class="mtb-order-details" animationDuration="100ms">
                <mat-tab *ngIf="!(order_status == 1)" label="Paper"><app-common-order-details-paper></app-common-order-details-paper></mat-tab>
                <mat-tab label="Details"><app-common-order-details [order_details]="order_details"></app-common-order-details></mat-tab>
                <mat-tab label="Files"><app-common-order-details-files [order_details]="order_details"></app-common-order-details-files></mat-tab>
                <mat-tab *ngIf="!(order_status == 1)" label="Payment"><app-common-order-details-payment [order_details]="order_details"></app-common-order-details-payment></mat-tab>
                <mat-tab disabled></mat-tab>
                <mat-tab *ngIf="(order_status == 1)" disabled>
                     <ng-template mat-tab-label style="position: absolute; right: 0;">
                        <button mat-flat-button class="btn-order-option" type="button" (click)="editOrder()">Edit</button>
                        <button mat-flat-button class="btn-order-option" type="button" (click)="_dialogTrigger.openDeleteDialog(order_id)">Delete</button>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </section>
        <section class="sec-order-actions" *ngIf="!isProgressLoading && order_status == 1">
            <button mat-flat-button class="btn-order-option" type="button" (click)="editOrder()">Edit</button>
            <button mat-flat-button class="btn-order-option" type="button" (click)="_dialogTrigger.openDeleteDialog(order_id)">Delete</button>
        </section>
    </span>
</section>